workflows/4YKHCkkzazk3p8I0ppc93.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-23T01:40:38.311Z",
    "createdAt": "2026-03-23T01:40:30.800Z",
    "versionId": "b6f12cd5-4a94-4108-9ff2-fb76e1c82d59",
    "workflowId": "4YKHCkkzazk3p8I0ppc93",
    "nodes": [
      {
        "parameters": {
          "operation": "get",
          "messageId": "={{ $json.msg_id }}",
          "simple": false,
          "options": {
            "downloadAttachments": true
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          256,
          912
        ],
        "id": "5ee7faf0-2d6b-47d9-88cd-c9215a46fda8",
        "name": "Get a message",
        "webhookId": "7d3a8855-b002-47d3-8768-8d24d6d909e1",
        "credentials": {
          "gmailOAuth2": {
            "id": "mdeJ5Cwz1YxLTzIG",
            "name": "hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1HBHA5y1QYKKbUf-bHDj7BB2eXG2eerndTc9fP_9cUBg",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": 592122893,
            "mode": "list",
            "cachedResultName": "Sheet4",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HBHA5y1QYKKbUf-bHDj7BB2eXG2eerndTc9fP_9cUBg/edit#gid=592122893"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          400,
          768
        ],
        "id": "c8485926-ceb2-4290-b4c7-6157dcb07a82",
        "name": "get_transactions",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "ZKa8qDXvli4HN1HC",
            "mode": "list",
            "cachedResultName": "inv-app",
            "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          688,
          1056
        ],
        "id": "309f21ac-6053-4e10-9f6a-67ac730d7fb6",
        "name": "get_inv"
      },
      {
        "parameters": {
          "jsCode": "// Lấy input theo đúng tên node\nconst sales30d = $items(\"filter_1\");\nconst oosItems = $items(\"oos\");\nconst inventoryItems = $items(\"get_inv\");\n\n// Map sales theo sku\nconst salesMap = {};\nfor (const item of sales30d) {\n  salesMap[item.json.sku] = {\n    sku: item.json.sku,\n    sku_name: item.json.sku_name,\n    sales: Number(item.json.qty || 0),\n  };\n}\n\n// Map OOS theo sku\nconst oosSet = new Set();\nfor (const item of oosItems) {\n  oosSet.add(item.json.sku);\n}\n\n// Group inventory theo sku\nconst inventoryMap = {};\nfor (const item of inventoryItems) {\n  const sku = item.json.sku;\n  if (!inventoryMap[sku]) inventoryMap[sku] = [];\n  inventoryMap[sku].push(item.json);\n}\n\n// Xử lý logic\nconst result = [];\n\nfor (const sku in salesMap) {\n  const { sku_name, sales } = salesMap[sku];\n  const inventories = inventoryMap[sku] || [];\n\n  const totalStock = inventories.reduce((sum, i) => sum + Number(i.qty || 0), 0);\n\n  const displayZoneStock = inventories.filter(\n    i => i.zone === \"Trưng bày chỉ định\" && Number(i.qty || 0) > 0\n  );\n\n  const otherZoneStock = inventories.filter(\n    i => i.zone !== \"Trưng bày chỉ định\" && Number(i.qty || 0) > 0\n  );\n\n  let outputQty = 0;\n  let ruleApplied = null;\n\n  // Rule 3: chỉ có tồn kho ở Trưng bày chỉ định\n  if (displayZoneStock.length > 0 && otherZoneStock.length === 0) {\n    outputQty = 2;\n    ruleApplied = \"ONLY_DISPLAY_ZONE\";\n  }\n  // Rule 1: có OOS\n  else if (oosSet.has(sku)) {\n    outputQty = Math.max(Math.floor(sales / 4), 1);\n    ruleApplied = \"OOS\";\n  }\n  // Rule 2: có bán và tồn kho <= 1\n  else if (sales > 0 && totalStock <= 1) {\n    outputQty = Math.max(Math.floor(sales / 4), 1);\n    ruleApplied = \"LOW_STOCK_WITH_SALES\";\n  }\n\n  if (outputQty > 0) {\n    result.push({\n      json: {\n        sku,\n        sku_name,\n        qty: outputQty,\n        rule: ruleApplied,\n        sales_30d: sales,\n        total_stock: totalStock,\n      }\n    });\n  }\n}\n\nreturn result;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          704
        ],
        "id": "a31f636a-db2c-4de2-a7f4-6c4b336b922e",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "keys": {
            "key": [
              {
                "currentKey": "SKU",
                "newKey": "sku"
              },
              {
                "currentKey": "SKU name",
                "newKey": "sku_name"
              }
            ]
          },
          "additionalOptions": {}
        },
        "type": "n8n-nodes-base.renameKeys",
        "typeVersion": 1,
        "position": [
          688,
          912
        ],
        "id": "dc6212ed-cf73-4bbd-9f0f-73891a0b365d",
        "name": "oos"
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "numberInputs": 3,
          "output": "empty"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          832,
          896
        ],
        "id": "a2ceaae2-9e64-42b6-8374-a6070de1cbbf",
        "name": "Merge"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1jycp8oWgGavy6HObWQW4dp8VxMUrlemhmWMKTPZkNJQ",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jycp8oWgGavy6HObWQW4dp8VxMUrlemhmWMKTPZkNJQ/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          832,
          1200
        ],
        "id": "ec24c4c5-0aad-4749-9f2c-9e988ec0f97a",
        "name": "get_range",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "098ab37c-f1e7-4d8b-9b79-bc311af46b6c",
                "leftValue": "={{ $json.range }}",
                "rightValue": "Yes",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "bb2cc18a-ef28-4f5f-97bf-5f432265ae95",
                "leftValue": "={{ $json.purchase_status }}",
                "rightValue": "Normal",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "511aa46f-08c0-439d-a631-431d0f6c9265",
                "leftValue": "={{ $json.product_listing }}",
                "rightValue": "active",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          992,
          1200
        ],
        "id": "65a5684a-52f9-4556-9739-e69e020f1da0",
        "name": "If1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c4df8e2b-36d9-4882-b2fc-8c579ea2aaf6",
                "name": "sku",
                "value": "={{ $json.sku }}",
                "type": "number"
              },
              {
                "id": "df0bc60c-0ad8-48c9-8ffb-e50dbbfe8fb5",
                "name": "sku_name",
                "value": "={{ $json.sku_name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1168,
          1120
        ],
        "id": "319c2446-1651-4afa-ac65-eb28b4a522c9",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "d9c40ce5-1e51-46b0-b5da-d8b904955e49",
                "leftValue": "={{ $json.purchase_status }}",
                "rightValue": "Normal",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "3fdcb46a-0a0d-441a-961c-4ff46fcf550a",
                "leftValue": "={{ $json.product_listing }}",
                "rightValue": "active",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1168,
          1280
        ],
        "id": "ac0c2f05-2b55-4ba0-9484-68ef8db3a6de",
        "name": "If2"
      },
      {
        "parameters": {
          "mergeByFields": {
            "values": [
              {
                "field1": "sku",
                "field2": "sku"
              },
              {
                "field1": "sku_name",
                "field2": "sku_name"
              }
            ]
          },
          "resolve": "preferInput1",
          "fuzzyCompare": true,
          "options": {
            "skipFields": "qty,row_number,branch_id, branch_name,subcat_2_id,subcat_2,brand,purchase_status,product_listing,range,rule,sales_30d,total_stock"
          }
        },
        "type": "n8n-nodes-base.compareDatasets",
        "typeVersion": 2.3,
        "position": [
          1376,
          672
        ],
        "id": "50052a24-f752-4088-b965-fb652d19d16a",
        "name": "inrange"
      },
      {
        "parameters": {
          "mergeByFields": {
            "values": [
              {
                "field1": "sku",
                "field2": "sku"
              },
              {
                "field1": "sku_name",
                "field2": "sku_name"
              }
            ]
          },
          "resolve": "mix",
          "fuzzyCompare": true,
          "options": {
            "skipFields": "qty,row_number,branch_id, branch_name,subcat_2_id,subcat_2,brand,purchase_status,product_listing,range,rule,sales_30d,total_stock"
          }
        },
        "type": "n8n-nodes-base.compareDatasets",
        "typeVersion": 2.3,
        "position": [
          1168,
          912
        ],
        "id": "9521bd58-3791-4364-b37e-a86360b25016",
        "name": "norange"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "binaryPropertyName": "attachment_0",
          "options": {
            "sheetName": "Out of Stock"
          }
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          400,
          912
        ],
        "id": "8e89b71a-dc16-4377-b394-b6dbe324abd8",
        "name": "get_oos"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2487500b-251f-4b5b-b200-c49e78f1818f",
                "leftValue": "={{ $json.SKU }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "aa46c460-6d41-4357-a3dc-2936fab29092",
                "leftValue": "={{ $json[' SubCategory ID '] }}",
                "rightValue": "NH12-01-01",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "48a2d539-d857-44e0-a260-843bb0654cfd",
                "leftValue": "={{ $json[' SubCategory ID '] }}",
                "rightValue": "NH12-02-01",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "e4bde49d-f55d-4f6f-9a8a-39a1a5adcdd4",
                "leftValue": "={{ $json[' SubCategory ID '] }}",
                "rightValue": "NH12-02-04",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          544,
          912
        ],
        "id": "308d505b-8175-4f72-a1ff-7d259c1f5fc4",
        "name": "is_not_empty",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "sku",
          "outputDataFrom": "input2",
          "options": {
            "fuzzyCompare": true
          }
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1392,
          960
        ],
        "id": "af09492a-3334-4bcf-910b-374d7de6c1ad",
        "name": "Merge1"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "sku",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1520,
          960
        ],
        "id": "b50069c6-98a7-4da9-be66-fde54ffb87f5",
        "name": "Merge2"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1HBHA5y1QYKKbUf-bHDj7BB2eXG2eerndTc9fP_9cUBg",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": 1291977972,
            "mode": "list",
            "cachedResultName": "last_2_weeks_sum",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HBHA5y1QYKKbUf-bHDj7BB2eXG2eerndTc9fP_9cUBg/edit#gid=1291977972"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          832,
          1056
        ],
        "id": "642dc0bd-c168-492c-8ff7-ba1fe0e22b3d",
        "name": "get_last_2_weeks_sales",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "content": "## Nguyên tắc:\n- Nếu có bán trong 30 ngày và tồn kho <=1 -> đặt hàng\n- Nếu có hàng Trưng bày chỉ định và tồn kho <=1 -> đặt hàng\n- Nếu có OOS -> đặt hàng\n- Nếu có bán trong 2 tuần mà tồn kho <=1 và range_plan là No -> báo mở range",
          "height": 192,
          "width": 592
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -432,
          -480
        ],
        "typeVersion": 1,
        "id": "7b603966-bdd6-4b43-b6c0-81a5e7477855",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "27802dca-f451-4a17-aab7-557bba4d2dd2",
                "leftValue": "={{ $json.sku }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "2dcd341c-b951-45ba-b91f-b714a3c4c071",
                "leftValue": "={{ $json.cat_group_name }}",
                "rightValue": "Service",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "4c864b99-34d8-48b5-b5a3-2a8567c0da38",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH03-03-02",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "f9bff8f8-0e8f-4556-8449-08c75aeac1f2",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH03-03-03",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "3087be7f-b4ff-45e0-8224-2b25028573d8",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH03-03-04",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "12de5af5-bd63-4db0-90d5-44f3332bf7db",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH03-03-05",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "5b8ea7a3-7c1a-4898-95bc-fd70b74e0680",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH12-02-04",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "b610720a-1ee8-412a-bb08-8b80a24db581",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH12-02-01",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "2e44314e-9d73-4ef3-91b5-e2b355a4cbfc",
                "leftValue": "={{ $json.subcat_name_lowest_level }}",
                "rightValue": "đã qua sử dụng",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "5641e9b3-e928-4fe6-81cb-158477ed64ee",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH12-01-01",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          544,
          768
        ],
        "id": "7a5a50b4-8422-43b7-bd5c-034881953e35",
        "name": "filter_1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "72619f27-39d7-4b1c-86dd-29300e331341",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH94-01-02",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "6fbf0013-308a-4107-9977-93181326fcb7",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH95-01-01",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "9fe58d3b-e20c-4a21-b901-617b116c28ca",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH95-01-02",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "c164440a-a1bd-4456-81e6-90e77fdee31e",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH95-01-03",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "97875a82-9c37-4c9c-a94d-d323f8249df2",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH95-01-04",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "aff834d5-3a72-43f3-83e1-ab5f397b5582",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH95-01-05",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "8b979890-b16c-4d9e-8fd6-fec6ffc8a284",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH95-02-03",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "08861b32-dc87-4003-87bd-ed245ceaa605",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH95-02-05",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "3139a47a-e6b4-406b-a508-51f8deacace3",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH95-02-99",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "be036ae4-8aa4-4480-8f26-edc0a585ad27",
                "leftValue": "={{ $json.subcat2_id }}",
                "rightValue": "NH14-01-01",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          688,
          768
        ],
        "id": "845c587b-8428-4f9e-93a7-5653d0f8cb64",
        "name": "30_days_sales"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "=1eZlNUCh4liWZ3qc929tkm9YYeR0VmZ1H_o434j2KH68",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eZlNUCh4liWZ3qc929tkm9YYeR0VmZ1H_o434j2KH68/edit#gid=0"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "sku",
                "displayName": "sku",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sku_name",
                "displayName": "sku_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "subcat_2_id",
                "displayName": "subcat_2_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "cat_group_name",
                "displayName": "cat_group_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "subcat_2",
                "displayName": "subcat_2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "subcat_name_lowest_level",
                "displayName": "subcat_name_lowest_level",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "brand",
                "displayName": "brand",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "purchase_status",
                "displayName": "purchase_status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "product_listing",
                "displayName": "product_listing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "range",
                "displayName": "range",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sales_14d",
                "displayName": "sales_14d",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sales_30d",
                "displayName": "sales_30d",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "total_stock",
                "displayName": "total_stock",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "cellFormat": "RAW"
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2096,
          1024
        ],
        "id": "c751e9c5-71f3-4604-9292-3585dd62e167",
        "name": "append_range_plan_request",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "V9RsDbAreeVaJR0q",
            "name": "check-ctkm-hoang.nv1"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          2240,
          1024
        ],
        "id": "85b7fee2-a4e1-4483-bb5e-c424b0646af7",
        "name": "Limit"
      },
      {
        "parameters": {
          "jsCode": "// Lấy input theo đúng tên node\nconst sales30d = $items(\"filter_1\");\nconst oosItems = $items(\"oos\");\nconst inventoryItems = $items(\"get_inv\");\n\n// Map sales theo sku\nconst salesMap = {};\nfor (const item of sales30d) {\n  salesMap[item.json.sku] = {\n    sku: item.json.sku,\n    sku_name: item.json.sku_name,\n    sales: Number(item.json.qty || 0),\n  };\n}\n\n// Map OOS theo sku\nconst oosSet = new Set();\nfor (const item of oosItems) {\n  oosSet.add(item.json.sku);\n}\n\n// Group inventory theo sku\nconst inventoryMap = {};\nfor (const item of inventoryItems) {\n  const sku = item.json.sku;\n  if (!inventoryMap[sku]) inventoryMap[sku] = [];\n  inventoryMap[sku].push(item.json);\n}\n\n// Xử lý logic\nconst result = [];\n\nfor (const sku in salesMap) {\n  const { sku_name, sales } = salesMap[sku];\n  const inventories = inventoryMap[sku] || [];\n\n  const totalStock = inventories.reduce((sum, i) => sum + Number(i.qty || 0), 0);\n\n  const displayZoneStock = inventories.filter(\n    i => i.zone === \"Trưng bày chỉ định\" && Number(i.qty || 0) > 0\n  );\n\n  const otherZoneStock = inventories.filter(\n    i => i.zone !== \"Trưng bày chỉ định\" && Number(i.qty || 0) > 0\n  );\n\n  let outputQty = 0;\n  let ruleApplied = null;\n\n  // Rule 3: chỉ có tồn kho ở Trưng bày chỉ định\n  if (displayZoneStock.length > 0 && otherZoneStock.length === 0) {\n    outputQty = 2;\n    ruleApplied = \"ONLY_DISPLAY_ZONE\";\n  }\n  // Rule 1: có OOS\n  else if (oosSet.has(sku)) {\n    outputQty = Math.max(Math.floor(sales / 4), 1);\n    ruleApplied = \"OOS\";\n  }\n  // Rule 2: có bán và tồn kho <= 0\n  else if (sales > 0 && totalStock <= 0) {\n    outputQty = Math.max(Math.floor(sales / 4), 1);\n    ruleApplied = \"LOW_STOCK_WITH_SALES\";\n  }\n\n  if (outputQty > 0) {\n    result.push({\n      json: {\n        sku,\n        sku_name,\n        rule: ruleApplied,\n        sales_30d: sales,\n        total_stock: totalStock,\n      }\n    });\n  }\n}\n\nreturn result;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          912
        ],
        "id": "7dae6758-74e9-485a-be0e-c4fb342cb060",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "sku",
          "options": {
            "fuzzyCompare": true
          }
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1664,
          1024
        ],
        "id": "1ef6ab88-de42-41ed-8868-814d79a6b695",
        "name": "Merge3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b19d3553-1337-4d63-9d3c-85361e43297d",
                "leftValue": "={{ $json.total_stock }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "764c724d-1c5b-4a61-861c-88c3c8f2d2ca",
                "leftValue": "={{ $json.sales_30d }}",
                "rightValue": 1,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1520,
          1104
        ],
        "id": "57e1a3f6-90cb-4d5c-ae7e-921f5ebe77d1",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "53d4df85-1e03-4e40-ba3b-9603fa65a7e9",
                "name": "sku",
                "value": "={{ $json.sku }}",
                "type": "string"
              },
              {
                "id": "3182a419-dfaf-40bc-82c4-db8af63cf140",
                "name": "sku_name",
                "value": "={{ $json.sku_name }}",
                "type": "string"
              },
              {
                "id": "ee8b8e5e-572d-4a2d-909a-b01b39c6308c",
                "name": "subcat_2_id",
                "value": "={{ $json.subcat_2_id }}",
                "type": "string"
              },
              {
                "id": "61fe9cb9-bdb0-4ed9-96d7-c7c806a2a79e",
                "name": "cat_group_name",
                "value": "={{ $json.cat_group_name }}",
                "type": "string"
              },
              {
                "id": "7cd33e8b-bd40-4c24-b1ad-7dc4a7b64c48",
                "name": "subcat_2",
                "value": "={{ $json.subcat_2 }}",
                "type": "string"
              },
              {
                "id": "89be02f6-0447-44bb-a1cb-6ad72bc5806b",
                "name": "subcat_name_lowest_level",
                "value": "={{ $json.subcat_name_lowest_level }}",
                "type": "string"
              },
              {
                "id": "d24ae670-afa7-41e1-9747-7838d0c0bbd0",
                "name": "brand",
                "value": "={{ $json.brand }}",
                "type": "string"
              },
              {
                "id": "a328efb7-31a0-4ee1-bb9e-89a10efbb897",
                "name": "purchase_status",
                "value": "={{ $json.purchase_status }}",
                "type": "string"
              },
              {
                "id": "304b9844-581d-4ef6-8233-cf948568ca9d",
                "name": "product_listing",
                "value": "={{ $json.product_listing }}",
                "type": "string"
              },
              {
                "id": "66c03062-f644-4d71-83ef-ae4874def5b3",
                "name": "range",
                "value": "={{ $json.range }}",
                "type": "string"
              },
              {
                "id": "9004c9ff-865a-4757-b141-451347799af1",
                "name": "sales_14d",
                "value": "={{ $json.sales_14d }}",
                "type": "number"
              },
              {
                "id": "0ee1bcb0-a119-4e68-b0f6-ff7449013219",
                "name": "sales_30d",
                "value": "={{ $json.sales_30d }}",
                "type": "number"
              },
              {
                "id": "bc3101e0-fd92-4ac5-97d2-045f8640c176",
                "name": "total_stock",
                "value": "={{ $json.total_stock }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1808,
          1024
        ],
        "id": "46f8c3cc-03ee-4485-9e51-6672ccb3637d",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e300ac45-f68c-4dc7-b821-9aba97c49324",
                "name": "SKU",
                "value": "={{ $json.sku }}",
                "type": "string"
              },
              {
                "id": "81f6e193-7218-496c-9b4a-f2ffd6e6ab79",
                "name": "CP62",
                "value": "={{ $json.qty }}",
                "type": "number"
              },
              {
                "id": "aa72ce98-d9c6-44d8-8314-04ebdac33fe6",
                "name": "RESULT",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1536,
          624
        ],
        "id": "6ae3fee5-ce9e-4921-a204-434d19b98217",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "output": "empty"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -176,
          912
        ],
        "id": "ba86f13e-827c-42c0-b6b3-6172e5410530",
        "name": "Merge4"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          2208,
          720
        ],
        "id": "9da32cbf-661e-4afc-9da9-09896d97c9cc",
        "name": "Limit1"
      },
      {
        "parameters": {
          "sendTo": "quanly.nganhhang@phongvu.vn",
          "subject": "=CP62 - ĐỀ XUẤT RANGE PLAN NGÀY - {{ $('set_date').first().json.date}}",
          "message": "=<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px;\">\n\n  <p style=\"font-size: 16px; font-weight: bold;\">Dear team CM,</p>\n\n  <p style=\"font-size: 14px;\">\n    Em gửi danh sách request range plan (file đính kèm)<br>\n    Những sản phẩm này là hàng hóa có số bán trong 2 tuần gần nhất nhưng không có range plan và tồn kho của CP62.<br>\n    Nhờ team xem xét mở range giúp em ạ.\n  </p>\n\n</body>\n<div class=\"signature-block\">\n  <p>Trân trọng.</p>\n  <p><strong>NGUYỄN VĂN HOÀNG</strong><br>\n     <em>CỬA HÀNG TRƯỞNG</em></p>\n  <p>\n    Mobile: <a href=\"tel:0906581906\">0906581906</a><br>\n    Email: <a href=\"mailto:hoang.nv1@phongvu-mna.vn\">hoang.nv1@phongvu-mna.vn</a><br>\n    Địa chỉ: Số 26 đường Phan Đăng Lưu, Phường Gia Định, Thành phố Hồ Chí Minh\n  </p>\n</div>\n</html>",
          "options": {
            "appendAttribution": false,
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            },
            "ccList": "linh.th@phongvu.vn,vu.nt1@phongvu-mna.vn",
            "senderName": "Hoàng Nguyễn"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2528,
          1024
        ],
        "id": "ee9b1380-7164-4f97-ad34-180fd719d120",
        "name": "mail_to_cms",
        "webhookId": "a752fcad-8d14-4bcd-9a99-dd204245b4ee",
        "credentials": {
          "gmailOAuth2": {
            "id": "mdeJ5Cwz1YxLTzIG",
            "name": "hoang.nv1"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "sendTo": "hoang.nv1@phongvu-mna.vn",
          "subject": "=CP62 - STOCK REQUEST - NGÀY {{ $('set_date').first().json.date}}",
          "message": "=<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px;\">\n\n  <p style=\"font-size: 16px;\">Hello,</p>\n\n  <p style=\"font-size: 14px;\">\n    Check file đính kèm nhé.\n  </p>\n\n</body>\n<div class=\"signature-block\">\n  <p>Trân trọng.</p>\n  <p><strong>NGUYỄN VĂN HOÀNG</strong><br>\n     <em>CỬA HÀNG TRƯỞNG</em></p>\n  <p>\n    Mobile: <a href=\"tel:0906581906\">0906581906</a><br>\n    Email: <a href=\"mailto:hoang.nv1@phongvu-mna.vn\">hoang.nv1@phongvu-mna.vn</a><br>\n    Địa chỉ: Số 26 đường Phan Đăng Lưu, Phường Gia Định, Thành phố Hồ Chí Minh\n  </p>\n</div>\n</html>",
          "options": {
            "appendAttribution": false,
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            },
            "senderName": "Hoàng Nguyễn"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -544,
          -64
        ],
        "id": "cc20c965-e644-4abd-bee4-cd5b0978cb34",
        "name": "mail_to_me",
        "webhookId": "a752fcad-8d14-4bcd-9a99-dd204245b4ee",
        "credentials": {
          "gmailOAuth2": {
            "id": "vOArwpSoe9d3FYtc",
            "name": "hoanghochoi1618"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "subcat_2_id"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          1952,
          1024
        ],
        "id": "4e89af47-c64e-4382-80b4-85560cac232f",
        "name": "Sort"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "=13kGwiz7ejQXjhNhg8fIPv5x_ZZ-Q-fRucDbux31JQM8",
            "mode": "id"
          },
          "options": {
            "binaryPropertyName": "data",
            "googleFileConversion": {
              "conversion": {
                "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
              }
            },
            "fileName": "stock_request.xlsx"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2352,
          720
        ],
        "id": "14945262-0377-46bf-a383-7aea533f204e",
        "name": "downloadfile",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "GpJUmnoBmqg9ldSq",
            "name": "Google Drive account hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "=1eZlNUCh4liWZ3qc929tkm9YYeR0VmZ1H_o434j2KH68",
            "mode": "id"
          },
          "options": {
            "binaryPropertyName": "data",
            "googleFileConversion": {
              "conversion": {
                "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
              }
            },
            "fileName": "=CP62 - Range plan request - {{$('set_date').first().json.date}}.xlsx"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2384,
          1024
        ],
        "id": "e208aec0-e177-46d2-92f5-96ccd3ef77ae",
        "name": "downloadfile1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "GpJUmnoBmqg9ldSq",
            "name": "Google Drive account hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "operation": "clear",
          "documentId": {
            "__rl": true,
            "value": "13kGwiz7ejQXjhNhg8fIPv5x_ZZ-Q-fRucDbux31JQM8",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": 1039500882,
            "mode": "list",
            "cachedResultName": "DulieuImport",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13kGwiz7ejQXjhNhg8fIPv5x_ZZ-Q-fRucDbux31JQM8/edit#gid=1039500882"
          },
          "clear": "specificRows",
          "startIndex": 3,
          "rowsToDelete": 500
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -320,
          832
        ],
        "id": "1b08596e-38f4-40ae-b7e8-3556304a69b5",
        "name": "clear_inrange",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "operation": "clear",
          "documentId": {
            "__rl": true,
            "value": "1eZlNUCh4liWZ3qc929tkm9YYeR0VmZ1H_o434j2KH68",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eZlNUCh4liWZ3qc929tkm9YYeR0VmZ1H_o434j2KH68/edit#gid=0"
          },
          "clear": "specificRows",
          "startIndex": 2,
          "rowsToDelete": 500
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -320,
          976
        ],
        "id": "f0f41b91-abad-4bdb-a730-3384273aa80f",
        "name": "clear_norange",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "072a56d6-19ad-4026-8480-fdce9898a143",
                "name": "date",
                "value": "={{ \n    DateTime\n      .fromISO(\n        $json.timestamp,\n        { zone: 'Asia/Ho_Chi_Minh' }\n      )\n      .toFormat('dd.MM.yyyy')\n  }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -320,
          688
        ],
        "id": "7c7a98a0-17be-431d-a2e2-7906e12bbfca",
        "name": "set_date"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "gkeE5wo3pR0fcwyi",
            "mode": "list",
            "cachedResultName": "oos_log",
            "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/gkeE5wo3pR0fcwyi"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "subject",
                "condition": "isNotEmpty"
              }
            ]
          },
          "returnAll": true,
          "orderBy": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -32,
          912
        ],
        "id": "a036694f-d79e-459f-8674-7c968133e2fb",
        "name": "get_msg_id"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "=13kGwiz7ejQXjhNhg8fIPv5x_ZZ-Q-fRucDbux31JQM8",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": 1039500882,
            "mode": "list",
            "cachedResultName": "DulieuImport",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13kGwiz7ejQXjhNhg8fIPv5x_ZZ-Q-fRucDbux31JQM8/edit#gid=1039500882"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SKU\nNhập mã sản phẩm cần gọi hàng": "={{ $json.SKU }}",
              "code of site 1\nTiêu đề cột: nhập mã kho cần gọi hàng\nNhập số lượng hàng yêu cầu của mỗi SKU ở mỗi ô tương ứng bên dưới": "={{ $json.CP62 }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "SKU\nNhập mã sản phẩm cần gọi hàng",
                "displayName": "SKU\nNhập mã sản phẩm cần gọi hàng",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "code of site 1\nTiêu đề cột: nhập mã kho cần gọi hàng\nNhập số lượng hàng yêu cầu của mỗi SKU ở mỗi ô tương ứng bên dưới",
                "displayName": "code of site 1\nTiêu đề cột: nhập mã kho cần gọi hàng\nNhập số lượng hàng yêu cầu của mỗi SKU ở mỗi ô tương ứng bên dưới",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "locationDefine": {
              "values": {
                "headerRow": 2
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2064,
          720
        ],
        "id": "dfe5c709-edc3-4c78-8319-a23db28c7c87",
        "name": "stock-request-template",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "V9RsDbAreeVaJR0q",
            "name": "check-ctkm-hoang.nv1"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1536,
          784
        ],
        "id": "40f333fa-7187-47e0-9ae4-4cd3c85b3711",
        "name": "Limit2"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1zArV4bQMl6i2-rZYLUddoOl_lQmS_A3xpdwoirwsyIg",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zArV4bQMl6i2-rZYLUddoOl_lQmS_A3xpdwoirwsyIg/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1680,
          784
        ],
        "id": "62b7c05a-1ed9-43fc-b642-f89f9c3fb676",
        "name": "get_goods_coming",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "mergeByFields": {
            "values": [
              {
                "field1": "SKU",
                "field2": "SKU\r"
              }
            ]
          },
          "fuzzyCompare": true,
          "options": {
            "skipFields": "CP62, RESULT, row_number, ['Số chứng từ'], ['Ngày tạo'], ['Người tạo'], ['Mã NCC'], ['Tên NCC'], ['Kho xuất'], ['Kho nhận'], ['Tên sản phẩm'], ['ĐVT'], ['SL yêu cầu'], ['SL đã xuất'], ['SL đã nhận\r'], ['Ghi chú'], ['Trạng thái\r']"
          }
        },
        "type": "n8n-nodes-base.compareDatasets",
        "typeVersion": 2.3,
        "position": [
          1840,
          688
        ],
        "id": "765a22e2-a633-4e1d-bd89-dedb026c2f5b",
        "name": "Compare Datasets"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://culiautomate.hoanghochoi.com/hooks/wake",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer af09fb4901db410647a548302f14281c40990974e9ebf67d"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "text",
                "value": "request template create successfully, continute"
              },
              {
                "name": "mode",
                "value": "now"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2560,
          720
        ],
        "id": "d971bdc0-7479-437f-b8eb-7f4171df9f96",
        "name": "HTTP Request",
        "disabled": true
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -544,
          832
        ],
        "id": "b570da6c-e347-498e-8cf2-6ae1dfad117b",
        "name": "call by \"openclaw-cronjob\""
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          112,
          912
        ],
        "id": "ad769787-2c90-41c6-9f86-49875a413983",
        "name": "Limit3"
      }
    ],
    "connections": {
      "Get a message": {
        "main": [
          [
            {
              "node": "get_oos",
              "type": "main",
              "index": 0
            },
            {
              "node": "get_transactions",
              "type": "main",
              "index": 0
            },
            {
              "node": "get_inv",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_transactions": {
        "main": [
          [
            {
              "node": "filter_1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_inv": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "oos": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            },
            {
              "node": "get_range",
              "type": "main",
              "index": 0
            },
            {
              "node": "get_last_2_weeks_sales",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "inrange",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_range": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "inrange",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "norange",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "inrange": {
        "main": [
          [],
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Limit2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_oos": {
        "main": [
          [
            {
              "node": "is_not_empty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "is_not_empty": {
        "main": [
          [
            {
              "node": "oos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "norange": {
        "main": [
          [],
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Merge3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_last_2_weeks_sales": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "filter_1": {
        "main": [
          [
            {
              "node": "30_days_sales",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "30_days_sales": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "append_range_plan_request": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "downloadfile1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "norange",
              "type": "main",
              "index": 0
            },
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Merge3",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge3": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge4": {
        "main": [
          [
            {
              "node": "get_msg_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Sort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit1": {
        "main": [
          [
            {
              "node": "downloadfile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "mail_to_me": {
        "main": [
          []
        ]
      },
      "mail_to_cms": {
        "main": [
          []
        ]
      },
      "Sort": {
        "main": [
          [
            {
              "node": "append_range_plan_request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "downloadfile": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "downloadfile1": {
        "main": [
          [
            {
              "node": "mail_to_cms",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "clear_inrange": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "clear_norange": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "get_msg_id": {
        "main": [
          [
            {
              "node": "Limit3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "stock-request-template": {
        "main": [
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit2": {
        "main": [
          [
            {
              "node": "get_goods_coming",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_goods_coming": {
        "main": [
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Compare Datasets": {
        "main": [
          [
            {
              "node": "stock-request-template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "call by \"openclaw-cronjob\"": {
        "main": [
          [
            {
              "node": "set_date",
              "type": "main",
              "index": 0
            },
            {
              "node": "clear_inrange",
              "type": "main",
              "index": 0
            },
            {
              "node": "clear_norange",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit3": {
        "main": [
          [
            {
              "node": "Get a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hoang Nguyen",
    "name": "Version b6f12cd5",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "b6f12cd5-4a94-4108-9ff2-fb76e1c82d59",
  "connections": {
    "Get a message": {
      "main": [
        [
          {
            "node": "get_oos",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_transactions",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_inv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_transactions": {
      "main": [
        [
          {
            "node": "filter_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_inv": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "oos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_range",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_last_2_weeks_sales",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "inrange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_range": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "inrange",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "norange",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "inrange": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_oos": {
      "main": [
        [
          {
            "node": "is_not_empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is_not_empty": {
      "main": [
        [
          {
            "node": "oos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "norange": {
      "main": [
        [],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_last_2_weeks_sales": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "filter_1": {
      "main": [
        [
          {
            "node": "30_days_sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30_days_sales": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append_range_plan_request": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "downloadfile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "norange",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "get_msg_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "downloadfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mail_to_me": {
      "main": [
        []
      ]
    },
    "mail_to_cms": {
      "main": [
        []
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "append_range_plan_request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "downloadfile": {
      "main": [
        []
      ]
    },
    "downloadfile1": {
      "main": [
        [
          {
            "node": "mail_to_cms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clear_inrange": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clear_norange": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "get_msg_id": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stock-request-template": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "get_goods_coming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_goods_coming": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "stock-request-template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "call by \"openclaw-cronjob\"": {
      "main": [
        [
          {
            "node": "set_date",
            "type": "main",
            "index": 0
          },
          {
            "node": "clear_inrange",
            "type": "main",
            "index": 0
          },
          {
            "node": "clear_norange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-26T07:04:55.034Z",
  "id": "4YKHCkkzazk3p8I0ppc93",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "stock_inventory",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.msg_id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        912
      ],
      "id": "5ee7faf0-2d6b-47d9-88cd-c9215a46fda8",
      "name": "Get a message",
      "webhookId": "7d3a8855-b002-47d3-8768-8d24d6d909e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "mdeJ5Cwz1YxLTzIG",
          "name": "hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HBHA5y1QYKKbUf-bHDj7BB2eXG2eerndTc9fP_9cUBg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 592122893,
          "mode": "list",
          "cachedResultName": "Sheet4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HBHA5y1QYKKbUf-bHDj7BB2eXG2eerndTc9fP_9cUBg/edit#gid=592122893"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        768
      ],
      "id": "c8485926-ceb2-4290-b4c7-6157dcb07a82",
      "name": "get_transactions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZKa8qDXvli4HN1HC",
          "mode": "list",
          "cachedResultName": "inv-app",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        688,
        1056
      ],
      "id": "309f21ac-6053-4e10-9f6a-67ac730d7fb6",
      "name": "get_inv"
    },
    {
      "parameters": {
        "jsCode": "// Lấy input theo đúng tên node\nconst sales30d = $items(\"filter_1\");\nconst oosItems = $items(\"oos\");\nconst inventoryItems = $items(\"get_inv\");\n\n// Map sales theo sku\nconst salesMap = {};\nfor (const item of sales30d) {\n  salesMap[item.json.sku] = {\n    sku: item.json.sku,\n    sku_name: item.json.sku_name,\n    sales: Number(item.json.qty || 0),\n  };\n}\n\n// Map OOS theo sku\nconst oosSet = new Set();\nfor (const item of oosItems) {\n  oosSet.add(item.json.sku);\n}\n\n// Group inventory theo sku\nconst inventoryMap = {};\nfor (const item of inventoryItems) {\n  const sku = item.json.sku;\n  if (!inventoryMap[sku]) inventoryMap[sku] = [];\n  inventoryMap[sku].push(item.json);\n}\n\n// Xử lý logic\nconst result = [];\n\nfor (const sku in salesMap) {\n  const { sku_name, sales } = salesMap[sku];\n  const inventories = inventoryMap[sku] || [];\n\n  const totalStock = inventories.reduce((sum, i) => sum + Number(i.qty || 0), 0);\n\n  const displayZoneStock = inventories.filter(\n    i => i.zone === \"Trưng bày chỉ định\" && Number(i.qty || 0) > 0\n  );\n\n  const otherZoneStock = inventories.filter(\n    i => i.zone !== \"Trưng bày chỉ định\" && Number(i.qty || 0) > 0\n  );\n\n  let outputQty = 0;\n  let ruleApplied = null;\n\n  // Rule 3: chỉ có tồn kho ở Trưng bày chỉ định\n  if (displayZoneStock.length > 0 && otherZoneStock.length === 0) {\n    outputQty = 2;\n    ruleApplied = \"ONLY_DISPLAY_ZONE\";\n  }\n  // Rule 1: có OOS\n  else if (oosSet.has(sku)) {\n    outputQty = Math.max(Math.floor(sales / 4), 1);\n    ruleApplied = \"OOS\";\n  }\n  // Rule 2: có bán và tồn kho <= 1\n  else if (sales > 0 && totalStock <= 1) {\n    outputQty = Math.max(Math.floor(sales / 4), 1);\n    ruleApplied = \"LOW_STOCK_WITH_SALES\";\n  }\n\n  if (outputQty > 0) {\n    result.push({\n      json: {\n        sku,\n        sku_name,\n        qty: outputQty,\n        rule: ruleApplied,\n        sales_30d: sales,\n        total_stock: totalStock,\n      }\n    });\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        704
      ],
      "id": "a31f636a-db2c-4de2-a7f4-6c4b336b922e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "SKU",
              "newKey": "sku"
            },
            {
              "currentKey": "SKU name",
              "newKey": "sku_name"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        688,
        912
      ],
      "id": "dc6212ed-cf73-4bbd-9f0f-73891a0b365d",
      "name": "oos"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3,
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        896
      ],
      "id": "a2ceaae2-9e64-42b6-8374-a6070de1cbbf",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jycp8oWgGavy6HObWQW4dp8VxMUrlemhmWMKTPZkNJQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jycp8oWgGavy6HObWQW4dp8VxMUrlemhmWMKTPZkNJQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        1200
      ],
      "id": "ec24c4c5-0aad-4749-9f2c-9e988ec0f97a",
      "name": "get_range",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "098ab37c-f1e7-4d8b-9b79-bc311af46b6c",
              "leftValue": "={{ $json.range }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "bb2cc18a-ef28-4f5f-97bf-5f432265ae95",
              "leftValue": "={{ $json.purchase_status }}",
              "rightValue": "Normal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "511aa46f-08c0-439d-a631-431d0f6c9265",
              "leftValue": "={{ $json.product_listing }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        1200
      ],
      "id": "65a5684a-52f9-4556-9739-e69e020f1da0",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4df8e2b-36d9-4882-b2fc-8c579ea2aaf6",
              "name": "sku",
              "value": "={{ $json.sku }}",
              "type": "number"
            },
            {
              "id": "df0bc60c-0ad8-48c9-8ffb-e50dbbfe8fb5",
              "name": "sku_name",
              "value": "={{ $json.sku_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        1120
      ],
      "id": "319c2446-1651-4afa-ac65-eb28b4a522c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9c40ce5-1e51-46b0-b5da-d8b904955e49",
              "leftValue": "={{ $json.purchase_status }}",
              "rightValue": "Normal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3fdcb46a-0a0d-441a-961c-4ff46fcf550a",
              "leftValue": "={{ $json.product_listing }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        1280
      ],
      "id": "ac0c2f05-2b55-4ba0-9484-68ef8db3a6de",
      "name": "If2"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "sku",
              "field2": "sku"
            },
            {
              "field1": "sku_name",
              "field2": "sku_name"
            }
          ]
        },
        "resolve": "preferInput1",
        "fuzzyCompare": true,
        "options": {
          "skipFields": "qty,row_number,branch_id, branch_name,subcat_2_id,subcat_2,brand,purchase_status,product_listing,range,rule,sales_30d,total_stock"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1376,
        672
      ],
      "id": "50052a24-f752-4088-b965-fb652d19d16a",
      "name": "inrange"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "sku",
              "field2": "sku"
            },
            {
              "field1": "sku_name",
              "field2": "sku_name"
            }
          ]
        },
        "resolve": "mix",
        "fuzzyCompare": true,
        "options": {
          "skipFields": "qty,row_number,branch_id, branch_name,subcat_2_id,subcat_2,brand,purchase_status,product_listing,range,rule,sales_30d,total_stock"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1168,
        912
      ],
      "id": "9521bd58-3791-4364-b37e-a86360b25016",
      "name": "norange"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "attachment_0",
        "options": {
          "sheetName": "Out of Stock"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        400,
        912
      ],
      "id": "8e89b71a-dc16-4377-b394-b6dbe324abd8",
      "name": "get_oos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2487500b-251f-4b5b-b200-c49e78f1818f",
              "leftValue": "={{ $json.SKU }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "aa46c460-6d41-4357-a3dc-2936fab29092",
              "leftValue": "={{ $json[' SubCategory ID '] }}",
              "rightValue": "NH12-01-01",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "48a2d539-d857-44e0-a260-843bb0654cfd",
              "leftValue": "={{ $json[' SubCategory ID '] }}",
              "rightValue": "NH12-02-01",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "e4bde49d-f55d-4f6f-9a8a-39a1a5adcdd4",
              "leftValue": "={{ $json[' SubCategory ID '] }}",
              "rightValue": "NH12-02-04",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        912
      ],
      "id": "308d505b-8175-4f72-a1ff-7d259c1f5fc4",
      "name": "is_not_empty",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "sku",
        "outputDataFrom": "input2",
        "options": {
          "fuzzyCompare": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1392,
        960
      ],
      "id": "af09492a-3334-4bcf-910b-374d7de6c1ad",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "sku",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1520,
        960
      ],
      "id": "b50069c6-98a7-4da9-be66-fde54ffb87f5",
      "name": "Merge2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HBHA5y1QYKKbUf-bHDj7BB2eXG2eerndTc9fP_9cUBg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1291977972,
          "mode": "list",
          "cachedResultName": "last_2_weeks_sum",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HBHA5y1QYKKbUf-bHDj7BB2eXG2eerndTc9fP_9cUBg/edit#gid=1291977972"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        1056
      ],
      "id": "642dc0bd-c168-492c-8ff7-ba1fe0e22b3d",
      "name": "get_last_2_weeks_sales",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "content": "## Nguyên tắc:\n- Nếu có bán trong 30 ngày và tồn kho <=1 -> đặt hàng\n- Nếu có hàng Trưng bày chỉ định và tồn kho <=1 -> đặt hàng\n- Nếu có OOS -> đặt hàng\n- Nếu có bán trong 2 tuần mà tồn kho <=1 và range_plan là No -> báo mở range",
        "height": 192,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -480
      ],
      "typeVersion": 1,
      "id": "7b603966-bdd6-4b43-b6c0-81a5e7477855",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "27802dca-f451-4a17-aab7-557bba4d2dd2",
              "leftValue": "={{ $json.sku }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2dcd341c-b951-45ba-b91f-b714a3c4c071",
              "leftValue": "={{ $json.cat_group_name }}",
              "rightValue": "Service",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "4c864b99-34d8-48b5-b5a3-2a8567c0da38",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH03-03-02",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "f9bff8f8-0e8f-4556-8449-08c75aeac1f2",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH03-03-03",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "3087be7f-b4ff-45e0-8224-2b25028573d8",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH03-03-04",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "12de5af5-bd63-4db0-90d5-44f3332bf7db",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH03-03-05",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "5b8ea7a3-7c1a-4898-95bc-fd70b74e0680",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH12-02-04",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "b610720a-1ee8-412a-bb08-8b80a24db581",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH12-02-01",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "2e44314e-9d73-4ef3-91b5-e2b355a4cbfc",
              "leftValue": "={{ $json.subcat_name_lowest_level }}",
              "rightValue": "đã qua sử dụng",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "5641e9b3-e928-4fe6-81cb-158477ed64ee",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH12-01-01",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        768
      ],
      "id": "7a5a50b4-8422-43b7-bd5c-034881953e35",
      "name": "filter_1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "72619f27-39d7-4b1c-86dd-29300e331341",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH94-01-02",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "6fbf0013-308a-4107-9977-93181326fcb7",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH95-01-01",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9fe58d3b-e20c-4a21-b901-617b116c28ca",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH95-01-02",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c164440a-a1bd-4456-81e6-90e77fdee31e",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH95-01-03",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "97875a82-9c37-4c9c-a94d-d323f8249df2",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH95-01-04",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "aff834d5-3a72-43f3-83e1-ab5f397b5582",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH95-01-05",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "8b979890-b16c-4d9e-8fd6-fec6ffc8a284",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH95-02-03",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "08861b32-dc87-4003-87bd-ed245ceaa605",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH95-02-05",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "3139a47a-e6b4-406b-a508-51f8deacace3",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH95-02-99",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "be036ae4-8aa4-4480-8f26-edc0a585ad27",
              "leftValue": "={{ $json.subcat2_id }}",
              "rightValue": "NH14-01-01",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        768
      ],
      "id": "845c587b-8428-4f9e-93a7-5653d0f8cb64",
      "name": "30_days_sales"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1eZlNUCh4liWZ3qc929tkm9YYeR0VmZ1H_o434j2KH68",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eZlNUCh4liWZ3qc929tkm9YYeR0VmZ1H_o434j2KH68/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "sku",
              "displayName": "sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sku_name",
              "displayName": "sku_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subcat_2_id",
              "displayName": "subcat_2_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cat_group_name",
              "displayName": "cat_group_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subcat_2",
              "displayName": "subcat_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subcat_name_lowest_level",
              "displayName": "subcat_name_lowest_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "purchase_status",
              "displayName": "purchase_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_listing",
              "displayName": "product_listing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "range",
              "displayName": "range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sales_14d",
              "displayName": "sales_14d",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sales_30d",
              "displayName": "sales_30d",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_stock",
              "displayName": "total_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2096,
        1024
      ],
      "id": "c751e9c5-71f3-4604-9292-3585dd62e167",
      "name": "append_range_plan_request",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2240,
        1024
      ],
      "id": "85b7fee2-a4e1-4483-bb5e-c424b0646af7",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Lấy input theo đúng tên node\nconst sales30d = $items(\"filter_1\");\nconst oosItems = $items(\"oos\");\nconst inventoryItems = $items(\"get_inv\");\n\n// Map sales theo sku\nconst salesMap = {};\nfor (const item of sales30d) {\n  salesMap[item.json.sku] = {\n    sku: item.json.sku,\n    sku_name: item.json.sku_name,\n    sales: Number(item.json.qty || 0),\n  };\n}\n\n// Map OOS theo sku\nconst oosSet = new Set();\nfor (const item of oosItems) {\n  oosSet.add(item.json.sku);\n}\n\n// Group inventory theo sku\nconst inventoryMap = {};\nfor (const item of inventoryItems) {\n  const sku = item.json.sku;\n  if (!inventoryMap[sku]) inventoryMap[sku] = [];\n  inventoryMap[sku].push(item.json);\n}\n\n// Xử lý logic\nconst result = [];\n\nfor (const sku in salesMap) {\n  const { sku_name, sales } = salesMap[sku];\n  const inventories = inventoryMap[sku] || [];\n\n  const totalStock = inventories.reduce((sum, i) => sum + Number(i.qty || 0), 0);\n\n  const displayZoneStock = inventories.filter(\n    i => i.zone === \"Trưng bày chỉ định\" && Number(i.qty || 0) > 0\n  );\n\n  const otherZoneStock = inventories.filter(\n    i => i.zone !== \"Trưng bày chỉ định\" && Number(i.qty || 0) > 0\n  );\n\n  let outputQty = 0;\n  let ruleApplied = null;\n\n  // Rule 3: chỉ có tồn kho ở Trưng bày chỉ định\n  if (displayZoneStock.length > 0 && otherZoneStock.length === 0) {\n    outputQty = 2;\n    ruleApplied = \"ONLY_DISPLAY_ZONE\";\n  }\n  // Rule 1: có OOS\n  else if (oosSet.has(sku)) {\n    outputQty = Math.max(Math.floor(sales / 4), 1);\n    ruleApplied = \"OOS\";\n  }\n  // Rule 2: có bán và tồn kho <= 0\n  else if (sales > 0 && totalStock <= 0) {\n    outputQty = Math.max(Math.floor(sales / 4), 1);\n    ruleApplied = \"LOW_STOCK_WITH_SALES\";\n  }\n\n  if (outputQty > 0) {\n    result.push({\n      json: {\n        sku,\n        sku_name,\n        rule: ruleApplied,\n        sales_30d: sales,\n        total_stock: totalStock,\n      }\n    });\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        912
      ],
      "id": "7dae6758-74e9-485a-be0e-c4fb342cb060",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "sku",
        "options": {
          "fuzzyCompare": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1664,
        1024
      ],
      "id": "1ef6ab88-de42-41ed-8868-814d79a6b695",
      "name": "Merge3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b19d3553-1337-4d63-9d3c-85361e43297d",
              "leftValue": "={{ $json.total_stock }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "764c724d-1c5b-4a61-861c-88c3c8f2d2ca",
              "leftValue": "={{ $json.sales_30d }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        1104
      ],
      "id": "57e1a3f6-90cb-4d5c-ae7e-921f5ebe77d1",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53d4df85-1e03-4e40-ba3b-9603fa65a7e9",
              "name": "sku",
              "value": "={{ $json.sku }}",
              "type": "string"
            },
            {
              "id": "3182a419-dfaf-40bc-82c4-db8af63cf140",
              "name": "sku_name",
              "value": "={{ $json.sku_name }}",
              "type": "string"
            },
            {
              "id": "ee8b8e5e-572d-4a2d-909a-b01b39c6308c",
              "name": "subcat_2_id",
              "value": "={{ $json.subcat_2_id }}",
              "type": "string"
            },
            {
              "id": "61fe9cb9-bdb0-4ed9-96d7-c7c806a2a79e",
              "name": "cat_group_name",
              "value": "={{ $json.cat_group_name }}",
              "type": "string"
            },
            {
              "id": "7cd33e8b-bd40-4c24-b1ad-7dc4a7b64c48",
              "name": "subcat_2",
              "value": "={{ $json.subcat_2 }}",
              "type": "string"
            },
            {
              "id": "89be02f6-0447-44bb-a1cb-6ad72bc5806b",
              "name": "subcat_name_lowest_level",
              "value": "={{ $json.subcat_name_lowest_level }}",
              "type": "string"
            },
            {
              "id": "d24ae670-afa7-41e1-9747-7838d0c0bbd0",
              "name": "brand",
              "value": "={{ $json.brand }}",
              "type": "string"
            },
            {
              "id": "a328efb7-31a0-4ee1-bb9e-89a10efbb897",
              "name": "purchase_status",
              "value": "={{ $json.purchase_status }}",
              "type": "string"
            },
            {
              "id": "304b9844-581d-4ef6-8233-cf948568ca9d",
              "name": "product_listing",
              "value": "={{ $json.product_listing }}",
              "type": "string"
            },
            {
              "id": "66c03062-f644-4d71-83ef-ae4874def5b3",
              "name": "range",
              "value": "={{ $json.range }}",
              "type": "string"
            },
            {
              "id": "9004c9ff-865a-4757-b141-451347799af1",
              "name": "sales_14d",
              "value": "={{ $json.sales_14d }}",
              "type": "number"
            },
            {
              "id": "0ee1bcb0-a119-4e68-b0f6-ff7449013219",
              "name": "sales_30d",
              "value": "={{ $json.sales_30d }}",
              "type": "number"
            },
            {
              "id": "bc3101e0-fd92-4ac5-97d2-045f8640c176",
              "name": "total_stock",
              "value": "={{ $json.total_stock }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        1024
      ],
      "id": "46f8c3cc-03ee-4485-9e51-6672ccb3637d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e300ac45-f68c-4dc7-b821-9aba97c49324",
              "name": "SKU",
              "value": "={{ $json.sku }}",
              "type": "string"
            },
            {
              "id": "81f6e193-7218-496c-9b4a-f2ffd6e6ab79",
              "name": "CP62",
              "value": "={{ $json.qty }}",
              "type": "number"
            },
            {
              "id": "aa72ce98-d9c6-44d8-8314-04ebdac33fe6",
              "name": "RESULT",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        624
      ],
      "id": "6ae3fee5-ce9e-4921-a204-434d19b98217",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        912
      ],
      "id": "ba86f13e-827c-42c0-b6b3-6172e5410530",
      "name": "Merge4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2208,
        720
      ],
      "id": "9da32cbf-661e-4afc-9da9-09896d97c9cc",
      "name": "Limit1"
    },
    {
      "parameters": {
        "sendTo": "quanly.nganhhang@phongvu.vn",
        "subject": "=CP62 - ĐỀ XUẤT RANGE PLAN NGÀY - {{ $('set_date').first().json.date}}",
        "message": "=<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px;\">\n\n  <p style=\"font-size: 16px; font-weight: bold;\">Dear team CM,</p>\n\n  <p style=\"font-size: 14px;\">\n    Em gửi danh sách request range plan (file đính kèm)<br>\n    Những sản phẩm này là hàng hóa có số bán trong 2 tuần gần nhất nhưng không có range plan và tồn kho của CP62.<br>\n    Nhờ team xem xét mở range giúp em ạ.\n  </p>\n\n</body>\n<div class=\"signature-block\">\n  <p>Trân trọng.</p>\n  <p><strong>NGUYỄN VĂN HOÀNG</strong><br>\n     <em>CỬA HÀNG TRƯỞNG</em></p>\n  <p>\n    Mobile: <a href=\"tel:0906581906\">0906581906</a><br>\n    Email: <a href=\"mailto:hoang.nv1@phongvu-mna.vn\">hoang.nv1@phongvu-mna.vn</a><br>\n    Địa chỉ: Số 26 đường Phan Đăng Lưu, Phường Gia Định, Thành phố Hồ Chí Minh\n  </p>\n</div>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "ccList": "linh.th@phongvu.vn,vu.nt1@phongvu-mna.vn",
          "senderName": "Hoàng Nguyễn"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2528,
        1024
      ],
      "id": "ee9b1380-7164-4f97-ad34-180fd719d120",
      "name": "mail_to_cms",
      "webhookId": "a752fcad-8d14-4bcd-9a99-dd204245b4ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "mdeJ5Cwz1YxLTzIG",
          "name": "hoang.nv1"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "hoang.nv1@phongvu-mna.vn",
        "subject": "=CP62 - STOCK REQUEST - NGÀY {{ $('set_date').first().json.date}}",
        "message": "=<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px;\">\n\n  <p style=\"font-size: 16px;\">Hello,</p>\n\n  <p style=\"font-size: 14px;\">\n    Check file đính kèm nhé.\n  </p>\n\n</body>\n<div class=\"signature-block\">\n  <p>Trân trọng.</p>\n  <p><strong>NGUYỄN VĂN HOÀNG</strong><br>\n     <em>CỬA HÀNG TRƯỞNG</em></p>\n  <p>\n    Mobile: <a href=\"tel:0906581906\">0906581906</a><br>\n    Email: <a href=\"mailto:hoang.nv1@phongvu-mna.vn\">hoang.nv1@phongvu-mna.vn</a><br>\n    Địa chỉ: Số 26 đường Phan Đăng Lưu, Phường Gia Định, Thành phố Hồ Chí Minh\n  </p>\n</div>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "senderName": "Hoàng Nguyễn"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -544,
        -64
      ],
      "id": "cc20c965-e644-4abd-bee4-cd5b0978cb34",
      "name": "mail_to_me",
      "webhookId": "a752fcad-8d14-4bcd-9a99-dd204245b4ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "vOArwpSoe9d3FYtc",
          "name": "hoanghochoi1618"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "subcat_2_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1952,
        1024
      ],
      "id": "4e89af47-c64e-4382-80b4-85560cac232f",
      "name": "Sort"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=13kGwiz7ejQXjhNhg8fIPv5x_ZZ-Q-fRucDbux31JQM8",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          },
          "fileName": "stock_request.xlsx"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2352,
        720
      ],
      "id": "14945262-0377-46bf-a383-7aea533f204e",
      "name": "downloadfile",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GpJUmnoBmqg9ldSq",
          "name": "Google Drive account hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=1eZlNUCh4liWZ3qc929tkm9YYeR0VmZ1H_o434j2KH68",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          },
          "fileName": "=CP62 - Range plan request - {{$('set_date').first().json.date}}.xlsx"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2384,
        1024
      ],
      "id": "e208aec0-e177-46d2-92f5-96ccd3ef77ae",
      "name": "downloadfile1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GpJUmnoBmqg9ldSq",
          "name": "Google Drive account hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "13kGwiz7ejQXjhNhg8fIPv5x_ZZ-Q-fRucDbux31JQM8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1039500882,
          "mode": "list",
          "cachedResultName": "DulieuImport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13kGwiz7ejQXjhNhg8fIPv5x_ZZ-Q-fRucDbux31JQM8/edit#gid=1039500882"
        },
        "clear": "specificRows",
        "startIndex": 3,
        "rowsToDelete": 500
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        832
      ],
      "id": "1b08596e-38f4-40ae-b7e8-3556304a69b5",
      "name": "clear_inrange",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1eZlNUCh4liWZ3qc929tkm9YYeR0VmZ1H_o434j2KH68",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eZlNUCh4liWZ3qc929tkm9YYeR0VmZ1H_o434j2KH68/edit#gid=0"
        },
        "clear": "specificRows",
        "startIndex": 2,
        "rowsToDelete": 500
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        976
      ],
      "id": "f0f41b91-abad-4bdb-a730-3384273aa80f",
      "name": "clear_norange",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "072a56d6-19ad-4026-8480-fdce9898a143",
              "name": "date",
              "value": "={{ \n    DateTime\n      .fromISO(\n        $json.timestamp,\n        { zone: 'Asia/Ho_Chi_Minh' }\n      )\n      .toFormat('dd.MM.yyyy')\n  }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        688
      ],
      "id": "7c7a98a0-17be-431d-a2e2-7906e12bbfca",
      "name": "set_date"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gkeE5wo3pR0fcwyi",
          "mode": "list",
          "cachedResultName": "oos_log",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/gkeE5wo3pR0fcwyi"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "subject",
              "condition": "isNotEmpty"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -32,
        912
      ],
      "id": "a036694f-d79e-459f-8674-7c968133e2fb",
      "name": "get_msg_id"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=13kGwiz7ejQXjhNhg8fIPv5x_ZZ-Q-fRucDbux31JQM8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1039500882,
          "mode": "list",
          "cachedResultName": "DulieuImport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13kGwiz7ejQXjhNhg8fIPv5x_ZZ-Q-fRucDbux31JQM8/edit#gid=1039500882"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SKU\nNhập mã sản phẩm cần gọi hàng": "={{ $json.SKU }}",
            "code of site 1\nTiêu đề cột: nhập mã kho cần gọi hàng\nNhập số lượng hàng yêu cầu của mỗi SKU ở mỗi ô tương ứng bên dưới": "={{ $json.CP62 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "SKU\nNhập mã sản phẩm cần gọi hàng",
              "displayName": "SKU\nNhập mã sản phẩm cần gọi hàng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "code of site 1\nTiêu đề cột: nhập mã kho cần gọi hàng\nNhập số lượng hàng yêu cầu của mỗi SKU ở mỗi ô tương ứng bên dưới",
              "displayName": "code of site 1\nTiêu đề cột: nhập mã kho cần gọi hàng\nNhập số lượng hàng yêu cầu của mỗi SKU ở mỗi ô tương ứng bên dưới",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 2
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        720
      ],
      "id": "dfe5c709-edc3-4c78-8319-a23db28c7c87",
      "name": "stock-request-template",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1536,
        784
      ],
      "id": "40f333fa-7187-47e0-9ae4-4cd3c85b3711",
      "name": "Limit2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zArV4bQMl6i2-rZYLUddoOl_lQmS_A3xpdwoirwsyIg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zArV4bQMl6i2-rZYLUddoOl_lQmS_A3xpdwoirwsyIg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        784
      ],
      "id": "62b7c05a-1ed9-43fc-b642-f89f9c3fb676",
      "name": "get_goods_coming",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "SKU",
              "field2": "SKU\r"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {
          "skipFields": "CP62, RESULT, row_number, ['Số chứng từ'], ['Ngày tạo'], ['Người tạo'], ['Mã NCC'], ['Tên NCC'], ['Kho xuất'], ['Kho nhận'], ['Tên sản phẩm'], ['ĐVT'], ['SL yêu cầu'], ['SL đã xuất'], ['SL đã nhận\r'], ['Ghi chú'], ['Trạng thái\r']"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1840,
        688
      ],
      "id": "765a22e2-a633-4e1d-bd89-dedb026c2f5b",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.115.211.95:18789/hooks/agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer culi-secret-token-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"message\": \"ping from n8n\",\n  \"name\": \"n8n\",\n  \"wakeMode\": \"now\",\n  \"deliver\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2752,
        720
      ],
      "id": "d971bdc0-7479-437f-b8eb-7f4171df9f96",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        832
      ],
      "id": "b570da6c-e347-498e-8cf2-6ae1dfad117b",
      "name": "call by \"openclaw-cronjob\""
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        112,
        912
      ],
      "id": "ad769787-2c90-41c6-9f86-49875a413983",
      "name": "Limit3"
    }
  ],
  "pinData": {
    "call by \"openclaw-cronjob\"": [
      {
        "json": {
          "ok": true,
          "result": {
            "message_id": 2369,
            "from": {
              "id": 8393551905,
              "is_bot": true,
              "first_name": "📋 n8n reports",
              "username": "hoanghochoi_n8n_bot"
            },
            "chat": {
              "id": -1002735167249,
              "title": "🛸 Leo's AI Lab 🚀",
              "type": "supergroup"
            },
            "date": 1773029022,
            "text": "Hàng sắp về đã được cập nhật.\n\nThis message was sent automatically with n8n",
            "entities": [
              {
                "offset": 31,
                "length": 41,
                "type": "italic"
              },
              {
                "offset": 72,
                "length": 3,
                "type": "text_link",
                "url": "https://n8n.io/?utm_source=n8n-internal&utm_medium=powered_by&utm_campaign=n8n-nodes-base.telegram_68c41ac370df6979c43f7b043981d851778e281de852517a1e7ed81fd7414bf4"
              }
            ],
            "link_preview_options": {
              "is_disabled": true
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "80zc32Np6wJfRsoG",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-02-22T18:18:43.157Z",
      "createdAt": "2026-02-22T18:18:43.157Z",
      "role": "workflow:owner",
      "workflowId": "4YKHCkkzazk3p8I0ppc93",
      "projectId": "GTQprNa3RcCSHh8s"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-08T12:09:40.816Z",
      "createdAt": "2025-11-08T12:08:49.207Z",
      "id": "aJR3FZVXiQEfDzcy",
      "name": "pv.vn"
    },
    {
      "updatedAt": "2026-02-09T07:11:42.210Z",
      "createdAt": "2026-02-09T07:11:42.210Z",
      "id": "xYJcmxixfnklJJVn",
      "name": "openclaw"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-24T06:54:14.033Z",
  "versionId": "73e7daf2-9e2c-4ac1-b38d-c4c98680979b"
}