workflows/hDgx7wpQImUMkpi1.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-13T03:44:48.471Z",
    "createdAt": "2026-04-12T19:22:48.381Z",
    "versionId": "9dc0ccd5-bdb8-495d-bc1c-5f6d7d197003",
    "workflowId": "hDgx7wpQImUMkpi1",
    "nodes": [
      {
        "parameters": {},
        "id": "45657c05-eac2-4b12-a9d2-f3d412f96d9f",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          448,
          272
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Subworkflow",
          "height": 750.8363163824032,
          "width": 2086.845881354743,
          "color": 6
        },
        "id": "7b2161ca-15fd-43d2-a7f0-a9b5f77a449a",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          640
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "63446e8b-f110-41e9-a699-eaf5aec6777e",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          704,
          368
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "KVR6HOIyVeu32eB5",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
                "name": "Done",
                "type": "boolean",
                "value": true
              }
            ]
          },
          "options": {}
        },
        "id": "54e40b43-5229-4132-be5e-17546fc65bb4",
        "name": "Return",
        "type": "n8n-nodes-base.set",
        "position": [
          1888,
          848
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "7783cae7-54b7-4c90-ab45-0ee5ffda15ad",
        "name": "Get File",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          992,
          720
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 1,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.content }}",
                "rightValue": ""
              },
              {
                "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "ecf56d01-4aa8-46f5-b47e-3db291d1f3b1",
        "name": "If file too large",
        "type": "n8n-nodes-base.if",
        "position": [
          784,
          752
        ],
        "typeVersion": 2
      },
      {
        "parameters": {},
        "id": "7b6513f8-794f-48fd-beba-959820fe7728",
        "name": "Merge Items",
        "type": "n8n-nodes-base.merge",
        "position": [
          784,
          1008
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
        },
        "id": "be0567e7-2057-4199-9de1-26aebdf14837",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          992,
          1008
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json.github_status}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "2888ec03-8079-431d-8e63-b75ef6633783",
        "name": "Check Status",
        "type": "n8n-nodes-base.switch",
        "position": [
          1200,
          1008
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "a5b56405-e035-451a-b048-acf2d56d5e07",
        "name": "Same file - Do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1424,
          848
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "ca47be4a-1226-4d82-b98d-b54c99534063",
        "name": "File is different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1424,
          1008
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "c6cc6a1a-5389-4226-852e-d96efd007526",
        "name": "File is new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1424,
          1168
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.name }}"
          },
          "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "9acfb1b0-8c1f-474c-8f7e-4aeee01b0783",
        "name": "Create new file",
        "type": "n8n-nodes-base.github",
        "position": [
          1648,
          1168
        ],
        "webhookId": "2a8592ad-1e95-496b-a352-be155eff5d8c",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "4OTKVVWVUFrTD2Jz",
            "name": "taituquantu-1618"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.name }}"
          },
          "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "91d34d1e-0a74-4c19-985c-19dced0b8a93",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          1648,
          992
        ],
        "webhookId": "2e7be958-4100-44b5-949e-ab47615b1071",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "4OTKVVWVUFrTD2Jz",
            "name": "taituquantu-1618"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "b4f7db6b-daa7-4a8b-88b9-e4ac31988c4a",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          912,
          368
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 20
              }
            ]
          }
        },
        "id": "2ea59ce6-c9a3-4445-9eb8-f882aa7335a1",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          448,
          464
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
          "height": 601,
          "width": 371,
          "color": 4
        },
        "id": "cdfb0edf-c80d-4ee1-a2d6-1cec6ba74cf0",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Main workflow loop",
          "height": 435,
          "width": 886,
          "color": 7
        },
        "id": "7ef91fc3-fa7c-472a-9269-f9fae4abd135",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          400,
          192
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo.name }}"
          },
          "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "8b118db2-40ea-499d-a536-182ce3492d09",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          592,
          752
        ],
        "webhookId": "47e20654-33c6-4a9c-8d56-f759b73dea46",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "4OTKVVWVUFrTD2Jz",
            "name": "taituquantu-1618"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
                "name": "repo.owner",
                "type": "string",
                "value": "taituquantu-1618"
              },
              {
                "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
                "name": "repo.name",
                "type": "string",
                "value": "n8n"
              },
              {
                "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
                "name": "repo.path",
                "type": "string",
                "value": "workflows/"
              }
            ]
          },
          "options": {}
        },
        "id": "98e53989-7dbc-4536-a741-3e8a83fb4e0d",
        "name": "Globals",
        "type": "n8n-nodes-base.set",
        "position": [
          368,
          912
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## Edit this node 👇",
          "height": 80,
          "width": 150,
          "color": 4
        },
        "id": "c3ce7b5b-e886-4dc5-905a-0c6c353d43a9",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          320,
          800
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "d03545e2-8df9-45d2-b48e-8553141b1680",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          80,
          1024
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "workflowInputs": {
            "value": {},
            "schema": [],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "id": "8859ef6c-74ad-4d00-b319-c4865d23eda5",
        "name": "Execute Workflow",
        "type": "n8n-nodes-base.executeWorkflow",
        "position": [
          1120,
          368
        ],
        "typeVersion": 1.2,
        "retryOnFail": true
      },
      {
        "parameters": {
          "content": "### 💡 **Want to learn advanced n8n skills and earn money building workflows?**\n‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎Check out [Scrapes Academy](https://www.skool.com/scrapes/about?ref=21f10ad99f4d46ba9b8aaea8c9f58c34)",
          "width": 640,
          "color": 4
        },
        "id": "678bdf38-ef54-4806-a8b2-34af9735297f",
        "name": "Sticky Note16",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          400,
          0
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Globals": {
        "main": [
          [
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File": {
        "main": [
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is new": {
        "main": [
          [
            {
              "node": "Create new file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Items": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Status": {
        "main": [
          [
            {
              "node": "Same file - Do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "If file too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is different": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If file too large": {
        "main": [
          [
            {
              "node": "Get File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Same file - Do nothing": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Items",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "Hoang Nguyen",
    "name": "Version 9dc0ccd5",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "9dc0ccd5-bdb8-495d-bc1c-5f6d7d197003",
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-05T18:06:46.918Z",
  "id": "hDgx7wpQImUMkpi1",
  "isArchived": false,
  "meta": null,
  "name": "backup-workflow-to-github taituquantu-1618",
  "nodes": [
    {
      "parameters": {},
      "id": "45657c05-eac2-4b12-a9d2-f3d412f96d9f",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        448,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 750.8363163824032,
        "width": 2086.845881354743,
        "color": 6
      },
      "id": "7b2161ca-15fd-43d2-a7f0-a9b5f77a449a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "63446e8b-f110-41e9-a699-eaf5aec6777e",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        704,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "KVR6HOIyVeu32eB5",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "54e40b43-5229-4132-be5e-17546fc65bb4",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1888,
        848
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "7783cae7-54b7-4c90-ab45-0ee5ffda15ad",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        992,
        720
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ecf56d01-4aa8-46f5-b47e-3db291d1f3b1",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        784,
        752
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "7b6513f8-794f-48fd-beba-959820fe7728",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        784,
        1008
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
      },
      "id": "be0567e7-2057-4199-9de1-26aebdf14837",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        992,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "2888ec03-8079-431d-8e63-b75ef6633783",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1200,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a5b56405-e035-451a-b048-acf2d56d5e07",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1424,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ca47be4a-1226-4d82-b98d-b54c99534063",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1424,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c6cc6a1a-5389-4226-852e-d96efd007526",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1424,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "9acfb1b0-8c1f-474c-8f7e-4aeee01b0783",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1648,
        1168
      ],
      "webhookId": "2a8592ad-1e95-496b-a352-be155eff5d8c",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "4OTKVVWVUFrTD2Jz",
          "name": "taituquantu-1618"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "91d34d1e-0a74-4c19-985c-19dced0b8a93",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1648,
        992
      ],
      "webhookId": "2e7be958-4100-44b5-949e-ab47615b1071",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "4OTKVVWVUFrTD2Jz",
          "name": "taituquantu-1618"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b4f7db6b-daa7-4a8b-88b9-e4ac31988c4a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        912,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "2ea59ce6-c9a3-4445-9eb8-f882aa7335a1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        448,
        464
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
        "height": 601,
        "width": 371,
        "color": 4
      },
      "id": "cdfb0edf-c80d-4ee1-a2d6-1cec6ba74cf0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 435,
        "width": 886,
        "color": 7
      },
      "id": "7ef91fc3-fa7c-472a-9269-f9fae4abd135",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "8b118db2-40ea-499d-a536-182ce3492d09",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        592,
        752
      ],
      "webhookId": "47e20654-33c6-4a9c-8d56-f759b73dea46",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "4OTKVVWVUFrTD2Jz",
          "name": "taituquantu-1618"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "taituquantu-1618"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "98e53989-7dbc-4536-a741-3e8a83fb4e0d",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        368,
        912
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "c3ce7b5b-e886-4dc5-905a-0c6c353d43a9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d03545e2-8df9-45d2-b48e-8553141b1680",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        80,
        1024
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "id": "8859ef6c-74ad-4d00-b319-c4865d23eda5",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1120,
        368
      ],
      "typeVersion": 1.2,
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "### 💡 **Want to learn advanced n8n skills and earn money building workflows?**\n‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎Check out [Scrapes Academy](https://www.skool.com/scrapes/about?ref=21f10ad99f4d46ba9b8aaea8c9f58c34)",
        "width": 640,
        "color": 4
      },
      "id": "678bdf38-ef54-4806-a8b2-34af9735297f",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        0
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "updatedAt": "2026-03-07T02:06:57.239Z",
          "createdAt": "2026-02-22T19:44:42.984Z",
          "id": "fEuqbMMNyh23uJ2V",
          "name": "sort-fifo",
          "active": true,
          "isArchived": false,
          "nodes": [
            {
              "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
              },
              "type": "n8n-nodes-base.respondToWebhook",
              "typeVersion": 1.4,
              "position": [
                288,
                0
              ],
              "id": "113853bf-dbb0-4ce8-8bda-397af00003c6",
              "name": "Respond to Webhook"
            },
            {
              "parameters": {
                "operation": "get",
                "dataTableId": {
                  "__rl": true,
                  "value": "ZKa8qDXvli4HN1HC",
                  "mode": "list",
                  "cachedResultName": "inv-app",
                  "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
                },
                "filters": {
                  "conditions": [
                    {
                      "keyName": "sku",
                      "keyValue": "={{ $json.body.text }}"
                    }
                  ]
                },
                "returnAll": true
              },
              "type": "n8n-nodes-base.dataTable",
              "typeVersion": 1,
              "position": [
                -384,
                16
              ],
              "id": "0303edba-eca2-4633-9aeb-01e772933d7f",
              "name": "getInvBySerial",
              "alwaysOutputData": true,
              "onError": "continueRegularOutput"
            },
            {
              "parameters": {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "2460e8c0-91c4-4f31-89d0-54502564607a",
                      "leftValue": "={{ $json.id }}",
                      "rightValue": 0,
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
              },
              "type": "n8n-nodes-base.if",
              "typeVersion": 2.2,
              "position": [
                -256,
                16
              ],
              "id": "7dd32cb6-2260-4d45-a773-f10d08736512",
              "name": "If"
            },
            {
              "parameters": {
                "operation": "get",
                "dataTableId": {
                  "__rl": true,
                  "value": "8Ug6ouDoHOhz1vLW",
                  "mode": "list",
                  "cachedResultName": "inv-app",
                  "cachedResultUrl": "/projects/WAqDK79b9owhbfuS/datatables/8Ug6ouDoHOhz1vLW"
                },
                "filters": {
                  "conditions": [
                    {
                      "keyName": "bin",
                      "keyValue": "={{ $('sort').first().json.body.text }}"
                    }
                  ]
                },
                "returnAll": true
              },
              "type": "n8n-nodes-base.dataTable",
              "typeVersion": 1,
              "position": [
                -128,
                96
              ],
              "id": "d08b6dc3-b542-4c42-adca-1312098f3a31",
              "name": "getInvByBin",
              "alwaysOutputData": true,
              "onError": "continueRegularOutput"
            },
            {
              "parameters": {
                "assignments": {
                  "assignments": [
                    {
                      "id": "284df640-cdc6-4429-ba47-dd2f1ce01881",
                      "name": "=sku_{{ $itemIndex }}",
                      "value": "=SKU: {{ $json.sku }}\nTên: {{ $json.sku_name }}\nSerial: {{ $json.serial_number }}\nMã BIN: {{ $json.bin }}\nZone: {{ $json.zone }}\nNgày nhập: {{ DateTime.fromJSDate(new Date($json['import_date'])).toFormat(\"dd-MM-yyyy\") }}",
                      "type": "string"
                    }
                  ]
                },
                "options": {}
              },
              "type": "n8n-nodes-base.set",
              "typeVersion": 3.4,
              "position": [
                128,
                0
              ],
              "id": "74920d9a-df25-490e-9643-87baf41e2f44",
              "name": "get_needed_fields"
            },
            {
              "parameters": {
                "multipleMethods": true,
                "httpMethod": [
                  "POST"
                ],
                "path": "pva-sort",
                "responseMode": "responseNode",
                "options": {}
              },
              "type": "n8n-nodes-base.webhook",
              "typeVersion": 2.1,
              "position": [
                -544,
                16
              ],
              "id": "56bbce2e-604e-4a60-805d-1d6ecb582c6c",
              "name": "sort",
              "webhookId": "9000b3c2-d770-476d-b4d8-6157872222f0"
            },
            {
              "parameters": {
                "multipleMethods": true,
                "httpMethod": [
                  "POST"
                ],
                "path": "pva-sort-report",
                "options": {}
              },
              "type": "n8n-nodes-base.webhook",
              "typeVersion": 2.1,
              "position": [
                -544,
                224
              ],
              "id": "aecae579-90e8-4900-956e-b6eaea01b6b8",
              "name": "sortReport",
              "webhookId": "9000b3c2-d770-476d-b4d8-6157872222f0"
            }
          ],
          "connections": {
            "getInvBySerial": {
              "main": [
                [
                  {
                    "node": "If",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "If": {
              "main": [
                [
                  {
                    "node": "get_needed_fields",
                    "type": "main",
                    "index": 0
                  }
                ],
                [
                  {
                    "node": "getInvByBin",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "get_needed_fields": {
              "main": [
                [
                  {
                    "node": "Respond to Webhook",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "getInvByBin": {
              "main": [
                [
                  {
                    "node": "get_needed_fields",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "sort": {
              "main": [
                [
                  {
                    "node": "getInvBySerial",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            }
          },
          "settings": {
            "executionOrder": "v1",
            "binaryMode": "separate",
            "availableInMCP": false,
            "timeSavedMode": "fixed",
            "errorWorkflow": "tUGf8pqhOC0yFiUP",
            "callerPolicy": "workflowsFromSameOwner"
          },
          "staticData": null,
          "meta": null,
          "pinData": {
            "sort": [
              {
                "json": {
                  "headers": {
                    "host": "n8n.hoanghochoi.com",
                    "user-agent": "Dart/3.10 (dart:io)",
                    "content-length": "54",
                    "accept-encoding": "gzip, br",
                    "cdn-loop": "cloudflare; loops=1",
                    "cf-connecting-ip": "115.77.190.147",
                    "cf-ipcountry": "VN",
                    "cf-ray": "9d819ba6cb7ca742-SIN",
                    "cf-visitor": "{\"scheme\":\"https\"}",
                    "cf-warp-tag-id": "e29be3d2-4ed5-4153-bf34-97fbb2b7e165",
                    "connection": "keep-alive",
                    "content-type": "application/json",
                    "x-forwarded-for": "115.77.190.147",
                    "x-forwarded-proto": "https"
                  },
                  "params": {},
                  "query": {},
                  "body": {
                    "text": "2P412914EGPP",
                    "user": "son.dh@phongvu-mna.vn"
                  },
                  "webhookUrl": "https://n8n.hoanghochoi.com/webhook/pva-sort",
                  "executionMode": "production"
                },
                "pairedItem": {
                  "item": 0
                }
              }
            ]
          },
          "versionId": "0ec1f906-22eb-4ebc-89f7-e6b1eaa51bed",
          "activeVersionId": "62f840ad-9560-46a5-ae86-c7d5c62a64e1",
          "triggerCount": 2,
          "shared": [
            {
              "updatedAt": "2026-02-22T19:44:42.984Z",
              "createdAt": "2026-02-22T19:44:42.984Z",
              "role": "workflow:owner",
              "workflowId": "fEuqbMMNyh23uJ2V",
              "projectId": "GTQprNa3RcCSHh8s"
            }
          ],
          "activeVersion": {
            "updatedAt": "2026-02-26T08:47:42.563Z",
            "createdAt": "2026-02-26T08:47:36.011Z",
            "versionId": "62f840ad-9560-46a5-ae86-c7d5c62a64e1",
            "workflowId": "fEuqbMMNyh23uJ2V",
            "nodes": [
              {
                "parameters": {
                  "respondWith": "allIncomingItems",
                  "options": {}
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.4,
                "position": [
                  288,
                  0
                ],
                "id": "113853bf-dbb0-4ce8-8bda-397af00003c6",
                "name": "Respond to Webhook"
              },
              {
                "parameters": {
                  "operation": "get",
                  "dataTableId": {
                    "__rl": true,
                    "value": "ZKa8qDXvli4HN1HC",
                    "mode": "list",
                    "cachedResultName": "inv-app",
                    "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
                  },
                  "filters": {
                    "conditions": [
                      {
                        "keyName": "sku",
                        "keyValue": "={{ $json.body.text }}"
                      }
                    ]
                  },
                  "returnAll": true
                },
                "type": "n8n-nodes-base.dataTable",
                "typeVersion": 1,
                "position": [
                  -384,
                  16
                ],
                "id": "0303edba-eca2-4633-9aeb-01e772933d7f",
                "name": "getInvBySerial",
                "alwaysOutputData": true,
                "onError": "continueRegularOutput"
              },
              {
                "parameters": {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "2460e8c0-91c4-4f31-89d0-54502564607a",
                        "leftValue": "={{ $json.id }}",
                        "rightValue": 0,
                        "operator": {
                          "type": "string",
                          "operation": "exists",
                          "singleValue": true
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "looseTypeValidation": true,
                  "options": {}
                },
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                  -256,
                  16
                ],
                "id": "7dd32cb6-2260-4d45-a773-f10d08736512",
                "name": "If"
              },
              {
                "parameters": {
                  "operation": "get",
                  "dataTableId": {
                    "__rl": true,
                    "value": "8Ug6ouDoHOhz1vLW",
                    "mode": "list",
                    "cachedResultName": "inv-app",
                    "cachedResultUrl": "/projects/WAqDK79b9owhbfuS/datatables/8Ug6ouDoHOhz1vLW"
                  },
                  "filters": {
                    "conditions": [
                      {
                        "keyName": "bin",
                        "keyValue": "={{ $('sort').first().json.body.text }}"
                      }
                    ]
                  },
                  "returnAll": true
                },
                "type": "n8n-nodes-base.dataTable",
                "typeVersion": 1,
                "position": [
                  -128,
                  96
                ],
                "id": "d08b6dc3-b542-4c42-adca-1312098f3a31",
                "name": "getInvByBin",
                "alwaysOutputData": true,
                "onError": "continueRegularOutput"
              },
              {
                "parameters": {
                  "assignments": {
                    "assignments": [
                      {
                        "id": "284df640-cdc6-4429-ba47-dd2f1ce01881",
                        "name": "=sku_{{ $itemIndex }}",
                        "value": "=SKU: {{ $json.sku }}\nTên: {{ $json.sku_name }}\nSerial: {{ $json.serial_number }}\nMã BIN: {{ $json.bin }}\nZone: {{ $json.zone }}\nNgày nhập: {{ DateTime.fromJSDate(new Date($json['import_date'])).toFormat(\"dd-MM-yyyy\") }}",
                        "type": "string"
                      }
                    ]
                  },
                  "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                  128,
                  0
                ],
                "id": "74920d9a-df25-490e-9643-87baf41e2f44",
                "name": "get_needed_fields"
              },
              {
                "parameters": {
                  "sortFieldsUi": {
                    "sortField": [
                      {
                        "fieldName": "import_date"
                      }
                    ]
                  },
                  "options": {}
                },
                "type": "n8n-nodes-base.sort",
                "typeVersion": 1,
                "position": [
                  0,
                  0
                ],
                "id": "c01c9145-8de3-4fd5-8988-632725138911",
                "name": "Sort"
              },
              {
                "parameters": {
                  "multipleMethods": true,
                  "httpMethod": [
                    "POST"
                  ],
                  "path": "pva-sort",
                  "responseMode": "responseNode",
                  "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                  -544,
                  16
                ],
                "id": "56bbce2e-604e-4a60-805d-1d6ecb582c6c",
                "name": "sort",
                "webhookId": "9000b3c2-d770-476d-b4d8-6157872222f0"
              },
              {
                "parameters": {
                  "multipleMethods": true,
                  "httpMethod": [
                    "POST"
                  ],
                  "path": "pva-sort-report",
                  "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                  -544,
                  224
                ],
                "id": "aecae579-90e8-4900-956e-b6eaea01b6b8",
                "name": "sortReport",
                "webhookId": "9000b3c2-d770-476d-b4d8-6157872222f0"
              }
            ],
            "connections": {
              "getInvBySerial": {
                "main": [
                  [
                    {
                      "node": "If",
                      "type": "main",
                      "index": 0
                    }
                  ]
                ]
              },
              "If": {
                "main": [
                  [
                    {
                      "node": "Sort",
                      "type": "main",
                      "index": 0
                    }
                  ],
                  [
                    {
                      "node": "getInvByBin",
                      "type": "main",
                      "index": 0
                    }
                  ]
                ]
              },
              "Sort": {
                "main": [
                  [
                    {
                      "node": "get_needed_fields",
                      "type": "main",
                      "index": 0
                    }
                  ]
                ]
              },
              "get_needed_fields": {
                "main": [
                  [
                    {
                      "node": "Respond to Webhook",
                      "type": "main",
                      "index": 0
                    }
                  ]
                ]
              },
              "getInvByBin": {
                "main": [
                  [
                    {
                      "node": "Sort",
                      "type": "main",
                      "index": 0
                    }
                  ]
                ]
              },
              "sort": {
                "main": [
                  [
                    {
                      "node": "getInvBySerial",
                      "type": "main",
                      "index": 0
                    }
                  ]
                ]
              }
            },
            "authors": "Hoang Nguyen",
            "name": "Version 62f840ad",
            "description": "",
            "autosaved": true
          },
          "tags": []
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "tUGf8pqhOC0yFiUP",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-04-05T18:06:46.918Z",
      "createdAt": "2026-04-05T18:06:46.918Z",
      "role": "workflow:owner",
      "workflowId": "hDgx7wpQImUMkpi1",
      "projectId": "GTQprNa3RcCSHh8s"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2026-02-23T01:44:23.752Z",
      "createdAt": "2026-02-23T01:44:23.752Z",
      "id": "DHCtEvXmspyQpH7s",
      "name": "github"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-13T03:44:47.224Z",
  "versionId": "9dc0ccd5-bdb8-495d-bc1c-5f6d7d197003"
}