workflows/lBHj2v9socaObenK.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-06T10:28:21.989Z",
    "createdAt": "2026-03-06T10:28:06.598Z",
    "versionId": "82a77736-6f38-417b-9d33-eab11068cce3",
    "workflowId": "lBHj2v9socaObenK",
    "nodes": [
      {
        "parameters": {
          "mergeByFields": {
            "values": [
              {
                "field1": "sku",
                "field2": "sku"
              },
              {
                "field1": "qty",
                "field2": "qty"
              },
              {
                "field1": "serial_number",
                "field2": "serial_number"
              },
              {
                "field1": "bin",
                "field2": "bin"
              },
              {
                "field1": "stock_type",
                "field2": "stock_type"
              }
            ]
          },
          "fuzzyCompare": true,
          "options": {
            "skipFields": "sku_name, import_date, branch_code, zone"
          }
        },
        "type": "n8n-nodes-base.compareDatasets",
        "typeVersion": 2.3,
        "position": [
          112,
          32
        ],
        "id": "8b751549-0b94-4604-a418-282cfd9c2450",
        "name": "Compare Datasets"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "9aac3306-cc82-4a24-9c90-f213de236f13",
                "leftValue": "={{ $json.serial_number }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          384,
          -80
        ],
        "id": "61052409-84c3-4299-8c22-efd29f18d3c5",
        "name": "checkSerial"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "ZKa8qDXvli4HN1HC",
            "mode": "list",
            "cachedResultName": "inv-app",
            "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "sku",
                "keyValue": "={{ $json.sku }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "qty": "={{ $json.qty }}",
              "sku": "={{ $json.sku }}",
              "sku_name": "={{ $json.sku_name }}",
              "import_date": "={{ $json.import_date }}",
              "branch_code": "={{ $json.branch_code }}",
              "zone": "={{ $json.zone }}",
              "bin": "={{ $json.bin }}",
              "stock_type": "={{ $json.stock_type }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "sku",
                "displayName": "sku",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "sku_name",
                "displayName": "sku_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "qty",
                "displayName": "qty",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "serial_number",
                "displayName": "serial_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "import_date",
                "displayName": "import_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "branch_code",
                "displayName": "branch_code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "zone",
                "displayName": "zone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "bin",
                "displayName": "bin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "stock_type",
                "displayName": "stock_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          544,
          -160
        ],
        "id": "6e56b63d-6d54-4589-9a4a-cb21a5ef3b1b",
        "name": "upsertNoSerial"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "ZKa8qDXvli4HN1HC",
            "mode": "list",
            "cachedResultName": "inv-app",
            "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -336,
          144
        ],
        "id": "41a44ea2-c778-432e-97aa-d7ba15d2461f",
        "name": "getInvTable"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "ZKa8qDXvli4HN1HC",
            "mode": "list",
            "cachedResultName": "inv-app",
            "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "serial_number",
                "keyValue": "={{ $json.serial_number }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "sku": "={{ $json.sku }}",
              "sku_name": "={{ $json.sku_name }}",
              "qty": "={{ $json.qty }}",
              "serial_number": "={{ $json.serial_number }}",
              "import_date": "={{ $json.import_date }}",
              "branch_code": "={{ $json.branch_code }}",
              "zone": "={{ $json.zone }}",
              "bin": "={{ $json.bin }}",
              "stock_type": "={{ $json.stock_type }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "sku",
                "displayName": "sku",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "sku_name",
                "displayName": "sku_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "qty",
                "displayName": "qty",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "serial_number",
                "displayName": "serial_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "import_date",
                "displayName": "import_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "branch_code",
                "displayName": "branch_code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "zone",
                "displayName": "zone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "bin",
                "displayName": "bin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "stock_type",
                "displayName": "stock_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          544,
          -16
        ],
        "id": "3319d5d8-f2b3-4081-ba9d-f17768921d98",
        "name": "upsertSerial"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "9aac3306-cc82-4a24-9c90-f213de236f13",
                "leftValue": "={{ $json.serial_number }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          384,
          208
        ],
        "id": "7980636f-be23-464d-af78-46a742ca1533",
        "name": "checkSerial1"
      },
      {
        "parameters": {
          "operation": "deleteRows",
          "dataTableId": {
            "__rl": true,
            "value": "ZKa8qDXvli4HN1HC",
            "mode": "list",
            "cachedResultName": "inv-app",
            "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "sku",
                "keyValue": "={{ $json.sku }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          544,
          128
        ],
        "id": "c24f5924-5071-4412-8d98-fb849847b6dd",
        "name": "deleteNoSerial"
      },
      {
        "parameters": {
          "operation": "deleteRows",
          "dataTableId": {
            "__rl": true,
            "value": "ZKa8qDXvli4HN1HC",
            "mode": "list",
            "cachedResultName": "inv-app",
            "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "serial_number",
                "keyValue": "={{ $json.serial_number }}"
              }
            ]
          },
          "options": {
            "dryRun": false
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          544,
          272
        ],
        "id": "b03dbf55-f0d6-4a28-a1c4-082c978e69f6",
        "name": "deleteSerial"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -640,
          80
        ],
        "id": "244af32a-1235-4922-85b5-56bcc650bf6e",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1f0Xycoy_GMeef9gVZnx-SSPtDQJdM9eN4Z92eZ8ZDEE",
            "mode": "list",
            "cachedResultName": "inventory_data",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f0Xycoy_GMeef9gVZnx-SSPtDQJdM9eN4Z92eZ8ZDEE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 34713994,
            "mode": "list",
            "cachedResultName": "Main",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f0Xycoy_GMeef9gVZnx-SSPtDQJdM9eN4Z92eZ8ZDEE/edit#gid=34713994"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -336,
          0
        ],
        "id": "443c3d4a-96c8-4a31-b889-52bd328ddd7d",
        "name": "getInvSheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eacd6f9d-3ee6-4099-8dd1-8b1115312e37",
                "name": "sku",
                "value": "={{ $json.sku }}",
                "type": "string"
              },
              {
                "id": "6c911fa6-9876-418f-8fc3-005f27120a34",
                "name": "sku_name",
                "value": "={{ $json.sku_name }}",
                "type": "string"
              },
              {
                "id": "19c9a4c0-66dd-4e06-81ed-15c924db449a",
                "name": "qty",
                "value": "={{ $json.qty }}",
                "type": "number"
              },
              {
                "id": "009628ef-0049-4bfb-bcc9-8618f248c8b5",
                "name": "serial_number",
                "value": "={{ $json.serial_number }}",
                "type": "string"
              },
              {
                "id": "82d139b2-59e1-4857-8f9f-f93744fef0af",
                "name": "import_date",
                "value": "={{ $json.import_date_company }}",
                "type": "string"
              },
              {
                "id": "e272f444-3072-4214-b96e-14e38d14f07e",
                "name": "branch_code",
                "value": "={{ $json.branch_id }}",
                "type": "string"
              },
              {
                "id": "204c604d-7a67-4ae3-a36f-9c267ab34824",
                "name": "zone",
                "value": "={{ $json.zone }}",
                "type": "string"
              },
              {
                "id": "ecc828c1-815b-4eca-ad38-41e3baee4b2e",
                "name": "bin",
                "value": "={{ $json.bin_id }}",
                "type": "string"
              },
              {
                "id": "3cdf3164-d730-4f02-a814-fca4a1b4d45c",
                "name": "stock_type",
                "value": "={{ $json.type }}",
                "type": "string"
              }
            ]
          },
          "options": {
            "ignoreConversionErrors": true
          }
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -80,
          0
        ],
        "id": "136ab2a6-e86d-4cc3-8205-5d614653977f",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eacd6f9d-3ee6-4099-8dd1-8b1115312e37",
                "name": "sku",
                "value": "={{ $json.sku }}",
                "type": "string"
              },
              {
                "id": "6c911fa6-9876-418f-8fc3-005f27120a34",
                "name": "sku_name",
                "value": "={{ $json.sku_name }}",
                "type": "string"
              },
              {
                "id": "19c9a4c0-66dd-4e06-81ed-15c924db449a",
                "name": "qty",
                "value": "={{ $json.qty }}",
                "type": "number"
              },
              {
                "id": "009628ef-0049-4bfb-bcc9-8618f248c8b5",
                "name": "serial_number",
                "value": "={{ $json.serial_number }}",
                "type": "string"
              },
              {
                "id": "82d139b2-59e1-4857-8f9f-f93744fef0af",
                "name": "import_date",
                "value": "={{ $json.import_date }}",
                "type": "string"
              },
              {
                "id": "e272f444-3072-4214-b96e-14e38d14f07e",
                "name": "branch_code",
                "value": "={{ $json.branch_code }}",
                "type": "string"
              },
              {
                "id": "204c604d-7a67-4ae3-a36f-9c267ab34824",
                "name": "zone",
                "value": "={{ $json.zone }}",
                "type": "string"
              },
              {
                "id": "ecc828c1-815b-4eca-ad38-41e3baee4b2e",
                "name": "bin",
                "value": "={{ $json.bin }}",
                "type": "string"
              },
              {
                "id": "3cdf3164-d730-4f02-a814-fca4a1b4d45c",
                "name": "stock_type",
                "value": "={{ $json.stock_type }}",
                "type": "string"
              }
            ]
          },
          "options": {
            "ignoreConversionErrors": true
          }
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -80,
          144
        ],
        "id": "59954993-dba6-4432-982f-2bf528751f72",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "fc58098a-06ba-4ec1-85c4-fd34c786d109",
                "leftValue": "sku",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -208,
          0
        ],
        "id": "03974041-34f7-4197-89a5-fa01563f9e20",
        "name": "If"
      },
      {
        "parameters": {
          "errorMessage": "Doc không có dữ liệu!"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -80,
          -144
        ],
        "id": "1678ff63-5d61-4bab-ae66-3cadcd6be340",
        "name": "Stop and Error"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          768,
          192
        ],
        "id": "d474991b-d690-4a30-83a8-5b1605d17d20",
        "name": "Merge"
      }
    ],
    "connections": {
      "Compare Datasets": {
        "main": [
          [
            {
              "node": "checkSerial",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [],
          [
            {
              "node": "checkSerial1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "checkSerial": {
        "main": [
          [
            {
              "node": "upsertNoSerial",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "upsertSerial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getInvTable": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "checkSerial1": {
        "main": [
          [
            {
              "node": "deleteNoSerial",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "deleteSerial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "getInvTable",
              "type": "main",
              "index": 0
            },
            {
              "node": "getInvSheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getInvSheet": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "deleteNoSerial": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "deleteSerial": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "Hoang Nguyen",
    "name": "Version 82a77736",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "82a77736-6f38-417b-9d33-eab11068cce3",
  "connections": {
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "checkSerial",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "checkSerial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkSerial": {
      "main": [
        [
          {
            "node": "upsertNoSerial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "upsertSerial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getInvTable": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkSerial1": {
      "main": [
        [
          {
            "node": "deleteNoSerial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "deleteSerial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "getInvTable",
            "type": "main",
            "index": 0
          },
          {
            "node": "getInvSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getInvSheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleteNoSerial": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleteSerial": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-22T19:11:18.742Z",
  "id": "lBHj2v9socaObenK",
  "isArchived": false,
  "meta": null,
  "name": "schedule - inv-update",
  "nodes": [
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "sku",
              "field2": "sku"
            },
            {
              "field1": "qty",
              "field2": "qty"
            },
            {
              "field1": "serial_number",
              "field2": "serial_number"
            },
            {
              "field1": "bin",
              "field2": "bin"
            },
            {
              "field1": "stock_type",
              "field2": "stock_type"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {
          "skipFields": "sku_name, import_date, branch_code, zone"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        112,
        32
      ],
      "id": "8b751549-0b94-4604-a418-282cfd9c2450",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9aac3306-cc82-4a24-9c90-f213de236f13",
              "leftValue": "={{ $json.serial_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -80
      ],
      "id": "61052409-84c3-4299-8c22-efd29f18d3c5",
      "name": "checkSerial"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ZKa8qDXvli4HN1HC",
          "mode": "list",
          "cachedResultName": "inv-app",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sku",
              "keyValue": "={{ $json.sku }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "qty": "={{ $json.qty }}",
            "sku": "={{ $json.sku }}",
            "sku_name": "={{ $json.sku_name }}",
            "import_date": "={{ $json.import_date }}",
            "branch_code": "={{ $json.branch_code }}",
            "zone": "={{ $json.zone }}",
            "bin": "={{ $json.bin }}",
            "stock_type": "={{ $json.stock_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sku",
              "displayName": "sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sku_name",
              "displayName": "sku_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "serial_number",
              "displayName": "serial_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "import_date",
              "displayName": "import_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "branch_code",
              "displayName": "branch_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "zone",
              "displayName": "zone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bin",
              "displayName": "bin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stock_type",
              "displayName": "stock_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        544,
        -160
      ],
      "id": "6e56b63d-6d54-4589-9a4a-cb21a5ef3b1b",
      "name": "upsertNoSerial"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZKa8qDXvli4HN1HC",
          "mode": "list",
          "cachedResultName": "inv-app",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -336,
        144
      ],
      "id": "41a44ea2-c778-432e-97aa-d7ba15d2461f",
      "name": "getInvTable"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ZKa8qDXvli4HN1HC",
          "mode": "list",
          "cachedResultName": "inv-app",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "serial_number",
              "keyValue": "={{ $json.serial_number }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sku": "={{ $json.sku }}",
            "sku_name": "={{ $json.sku_name }}",
            "qty": "={{ $json.qty }}",
            "serial_number": "={{ $json.serial_number }}",
            "import_date": "={{ $json.import_date }}",
            "branch_code": "={{ $json.branch_code }}",
            "zone": "={{ $json.zone }}",
            "bin": "={{ $json.bin }}",
            "stock_type": "={{ $json.stock_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sku",
              "displayName": "sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sku_name",
              "displayName": "sku_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "serial_number",
              "displayName": "serial_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "import_date",
              "displayName": "import_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "branch_code",
              "displayName": "branch_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "zone",
              "displayName": "zone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bin",
              "displayName": "bin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stock_type",
              "displayName": "stock_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        544,
        -16
      ],
      "id": "3319d5d8-f2b3-4081-ba9d-f17768921d98",
      "name": "upsertSerial"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9aac3306-cc82-4a24-9c90-f213de236f13",
              "leftValue": "={{ $json.serial_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        208
      ],
      "id": "7980636f-be23-464d-af78-46a742ca1533",
      "name": "checkSerial1"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "ZKa8qDXvli4HN1HC",
          "mode": "list",
          "cachedResultName": "inv-app",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sku",
              "keyValue": "={{ $json.sku }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        544,
        128
      ],
      "id": "c24f5924-5071-4412-8d98-fb849847b6dd",
      "name": "deleteNoSerial"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "ZKa8qDXvli4HN1HC",
          "mode": "list",
          "cachedResultName": "inv-app",
          "cachedResultUrl": "/projects/GTQprNa3RcCSHh8s/datatables/ZKa8qDXvli4HN1HC"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "serial_number",
              "keyValue": "={{ $json.serial_number }}"
            }
          ]
        },
        "options": {
          "dryRun": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        544,
        272
      ],
      "id": "b03dbf55-f0d6-4a28-a1c4-082c978e69f6",
      "name": "deleteSerial"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        80
      ],
      "id": "244af32a-1235-4922-85b5-56bcc650bf6e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1f0Xycoy_GMeef9gVZnx-SSPtDQJdM9eN4Z92eZ8ZDEE",
          "mode": "list",
          "cachedResultName": "inventory_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f0Xycoy_GMeef9gVZnx-SSPtDQJdM9eN4Z92eZ8ZDEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 34713994,
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f0Xycoy_GMeef9gVZnx-SSPtDQJdM9eN4Z92eZ8ZDEE/edit#gid=34713994"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        0
      ],
      "id": "443c3d4a-96c8-4a31-b889-52bd328ddd7d",
      "name": "getInvSheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eacd6f9d-3ee6-4099-8dd1-8b1115312e37",
              "name": "sku",
              "value": "={{ $json.sku }}",
              "type": "string"
            },
            {
              "id": "6c911fa6-9876-418f-8fc3-005f27120a34",
              "name": "sku_name",
              "value": "={{ $json.sku_name }}",
              "type": "string"
            },
            {
              "id": "19c9a4c0-66dd-4e06-81ed-15c924db449a",
              "name": "qty",
              "value": "={{ $json.qty }}",
              "type": "number"
            },
            {
              "id": "009628ef-0049-4bfb-bcc9-8618f248c8b5",
              "name": "serial_number",
              "value": "={{ $json.serial_number }}",
              "type": "string"
            },
            {
              "id": "82d139b2-59e1-4857-8f9f-f93744fef0af",
              "name": "import_date",
              "value": "={{ $json.import_date_company }}",
              "type": "string"
            },
            {
              "id": "e272f444-3072-4214-b96e-14e38d14f07e",
              "name": "branch_code",
              "value": "={{ $json.branch_id }}",
              "type": "string"
            },
            {
              "id": "204c604d-7a67-4ae3-a36f-9c267ab34824",
              "name": "zone",
              "value": "={{ $json.zone }}",
              "type": "string"
            },
            {
              "id": "ecc828c1-815b-4eca-ad38-41e3baee4b2e",
              "name": "bin",
              "value": "={{ $json.bin_id }}",
              "type": "string"
            },
            {
              "id": "3cdf3164-d730-4f02-a814-fca4a1b4d45c",
              "name": "stock_type",
              "value": "={{ $json.type }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        0
      ],
      "id": "136ab2a6-e86d-4cc3-8205-5d614653977f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eacd6f9d-3ee6-4099-8dd1-8b1115312e37",
              "name": "sku",
              "value": "={{ $json.sku }}",
              "type": "string"
            },
            {
              "id": "6c911fa6-9876-418f-8fc3-005f27120a34",
              "name": "sku_name",
              "value": "={{ $json.sku_name }}",
              "type": "string"
            },
            {
              "id": "19c9a4c0-66dd-4e06-81ed-15c924db449a",
              "name": "qty",
              "value": "={{ $json.qty }}",
              "type": "number"
            },
            {
              "id": "009628ef-0049-4bfb-bcc9-8618f248c8b5",
              "name": "serial_number",
              "value": "={{ $json.serial_number }}",
              "type": "string"
            },
            {
              "id": "82d139b2-59e1-4857-8f9f-f93744fef0af",
              "name": "import_date",
              "value": "={{ $json.import_date }}",
              "type": "string"
            },
            {
              "id": "e272f444-3072-4214-b96e-14e38d14f07e",
              "name": "branch_code",
              "value": "={{ $json.branch_code }}",
              "type": "string"
            },
            {
              "id": "204c604d-7a67-4ae3-a36f-9c267ab34824",
              "name": "zone",
              "value": "={{ $json.zone }}",
              "type": "string"
            },
            {
              "id": "ecc828c1-815b-4eca-ad38-41e3baee4b2e",
              "name": "bin",
              "value": "={{ $json.bin }}",
              "type": "string"
            },
            {
              "id": "3cdf3164-d730-4f02-a814-fca4a1b4d45c",
              "name": "stock_type",
              "value": "={{ $json.stock_type }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        144
      ],
      "id": "59954993-dba6-4432-982f-2bf528751f72",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "fc58098a-06ba-4ec1-85c4-fd34c786d109",
              "leftValue": "sku",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        0
      ],
      "id": "03974041-34f7-4197-89a5-fa01563f9e20",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Doc không có dữ liệu!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -80,
        -144
      ],
      "id": "1678ff63-5d61-4bab-ae66-3cadcd6be340",
      "name": "Stop and Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        192
      ],
      "id": "d474991b-d690-4a30-83a8-5b1605d17d20",
      "name": "Merge"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "ok": true,
          "result": {
            "message_id": 336,
            "from": {
              "id": 8393551905,
              "is_bot": true,
              "first_name": "📋 n8n reports",
              "username": "hoanghochoi_n8n_bot"
            },
            "chat": {
              "id": 5013029624,
              "first_name": "Nguyen",
              "last_name": "Leo",
              "username": "Vagabondthelast",
              "type": "private"
            },
            "date": 1772792753,
            "text": "Đã cập nhật tồn kho mới. Tổng cộng:  serial.\n\nThis message was sent automatically with n8n",
            "entities": [
              {
                "offset": 46,
                "length": 41,
                "type": "italic"
              },
              {
                "offset": 87,
                "length": 3,
                "type": "text_link",
                "url": "https://n8n.io/?utm_source=n8n-internal&utm_medium=powered_by&utm_campaign=n8n-nodes-base.telegram_68c41ac370df6979c43f7b043981d851778e281de852517a1e7ed81fd7414bf4"
              }
            ],
            "link_preview_options": {
              "is_disabled": true
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-22T19:11:18.742Z",
      "createdAt": "2026-02-22T19:11:18.742Z",
      "role": "workflow:owner",
      "workflowId": "lBHj2v9socaObenK",
      "projectId": "GTQprNa3RcCSHh8s"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-02-22T19:25:48.964Z",
      "createdAt": "2026-02-22T19:25:48.964Z",
      "id": "eafg8h8piujdlV6P",
      "name": "pv-opshub-app"
    },
    {
      "updatedAt": "2025-11-08T12:09:40.816Z",
      "createdAt": "2025-11-08T12:08:49.207Z",
      "id": "aJR3FZVXiQEfDzcy",
      "name": "pv.vn"
    },
    {
      "updatedAt": "2025-12-17T02:41:50.389Z",
      "createdAt": "2025-12-17T02:41:50.389Z",
      "id": "tf48o2CcAcmF6X41",
      "name": "Seatalk app"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-06T10:28:06.597Z",
  "versionId": "82a77736-6f38-417b-9d33-eab11068cce3"
}