workflows/oszBTffQVKgLehRE.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-08T08:16:44.301Z",
  "id": "oszBTffQVKgLehRE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 18",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "847f644a-cef5-4676-aae4-539b84bf660f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "sender": "hrtraining@phongvu.vn"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "4172ad71-b1af-414b-a817-fe0755110fc0",
      "name": "Get many messages",
      "webhookId": "a0f757b6-3675-4b1c-aaf6-fe53c036f21b",
      "credentials": {
        "gmailOAuth2": {
          "id": "5SZ0YYi2T9HbWbJM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.subject }}",
                    "rightValue": "TCPV - TELESALE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "573ab3e8-6790-44b8-ab43-605f694f3d37"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "4344d3ad-71f8-4ff2-8929-64da3b9c8add",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const textContent = item.json.text;\n  \n  // Tìm link docs.google.com trong nội dung text\n  const docLinkMatch = textContent.match(/https:\\/\\/docs\\.google\\.com\\/[^\\s>]+/);\n  \n  // Chỉ đẩy đúng trường link vào kết quả\n  if (docLinkMatch) {\n    results.push({\n      json: {\n        link: docLinkMatch[0].replace(/>\\*$/, '') // Xóa ký tự thừa >* nếu có ở cuối link\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "2c07057b-2a63-4ef5-a246-ac81ae8dc09e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Total",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZMaS52Lq2OsvCaNm24faV8r3bkSE_PI8uuXo3HsLCSU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        288
      ],
      "id": "1c265ad7-d9b2-4da9-acb8-d159d05bf08e",
      "name": "Get row(s) in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "maJqdOFue8J8bfDo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_YfmsvKCkB6EjJdCtL7GevkfGMv3j9B4Xkns_aOfzjQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Total",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_YfmsvKCkB6EjJdCtL7GevkfGMv3j9B4Xkns_aOfzjQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên lỗi vi phạm",
              "displayName": "Tên lỗi vi phạm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã lỗi vi phạm",
              "displayName": "Mã lỗi vi phạm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Điểm",
              "displayName": "Điểm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hội thoại có lỗi vi phạm",
              "displayName": "Hội thoại có lỗi vi phạm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời gian vi phạm",
              "displayName": "Thời gian vi phạm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nhân sự ghi nhận lỗi",
              "displayName": "Nhân sự ghi nhận lỗi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã số NV",
              "displayName": "Mã số NV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vị trí",
              "displayName": "Vị trí",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phản hồi từ đơn vị vi phạm lỗi",
              "displayName": "Phản hồi từ đơn vị vi phạm lỗi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phản hồi từ PĐT",
              "displayName": "Phản hồi từ PĐT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kết quả",
              "displayName": "Kết quả",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTV",
              "displayName": "CTV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lưu ý",
              "displayName": "Lưu ý",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        288
      ],
      "id": "cdf0da1f-6089-4f9d-9c35-fd15ef33aa33",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "maJqdOFue8J8bfDo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        288
      ],
      "id": "9d9dc623-62d9-449f-98a1-8017e2218d8e",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-08T08:16:44.301Z",
      "createdAt": "2026-04-08T08:16:44.301Z",
      "role": "workflow:owner",
      "workflowId": "oszBTffQVKgLehRE",
      "projectId": "CWTONLJVp30jYmkA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-08T09:24:28.890Z",
  "versionId": "336b5f7b-81bc-419b-942c-fb3ce2f36aa7"
}