workflows/rqXEEFHIM5mpsJFK.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "getWaitingImg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getWaitingImg": {
      "main": [
        [
          {
            "node": "checkWarrantyHistories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkWarrantyHistories": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'zalo-oa-chat-bot-https'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "getWaitingImg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-22T19:44:04.495Z",
  "id": "rqXEEFHIM5mpsJFK",
  "isArchived": false,
  "meta": null,
  "name": "schedule-check-img",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        144
      ],
      "id": "fc7e8621-df78-4b35-a765-26268a354160",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gSq7vKzR0YPBNf41",
          "mode": "list",
          "cachedResultName": "zalo-oa-waiting-img",
          "cachedResultUrl": "/projects/WAqDK79b9owhbfuS/datatables/gSq7vKzR0YPBNf41"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        144,
        144
      ],
      "id": "925dbae1-9ca1-40c4-a38b-18c429ef39ce",
      "name": "getWaitingImg",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "K93S4yr9Qd3h27pc",
          "mode": "list",
          "cachedResultName": "zalo-bot-phongvu-waranty-logs",
          "cachedResultUrl": "/projects/WAqDK79b9owhbfuS/datatables/K93S4yr9Qd3h27pc"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "receipt",
              "keyValue": "={{ $json.receipt }}"
            },
            {
              "keyName": "type",
              "keyValue": "create"
            },
            {
              "keyName": "sendOA",
              "keyValue": "Not yet"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        288,
        144
      ],
      "id": "2c26e3d3-c3c5-4f40-8f83-9f96060443c1",
      "name": "checkWarrantyHistories",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "faf980c4-9e62-49f7-b411-c24c6362e3f0",
              "leftValue": "={{ $json.receipt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        144
      ],
      "id": "5d0be5d5-70ea-4efa-aa9e-a03985736127",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "c4BuSN5WHHGvvTRy",
          "mode": "list",
          "cachedResultUrl": "/workflow/c4BuSN5WHHGvvTRy",
          "cachedResultName": "zalo-oa-chat-bot-https"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        0
      ],
      "id": "62783390-68b4-4c4c-a3a6-45e863ea9f83",
      "name": "Call 'zalo-oa-chat-bot-https'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13dc276e-2d5c-4757-882f-99790d1899e3",
              "name": "msg_text",
              "value": "={{ $json.receipt }}",
              "type": "string"
            },
            {
              "id": "5bf424a5-a3c7-457c-b853-f5879905417c",
              "name": "senderId",
              "value": "={{ $('getWaitingImg').item.json.senderId }}",
              "type": "string"
            },
            {
              "id": "e6db5bfc-30ce-4c32-80f5-20b6f7179b55",
              "name": "oaId",
              "value": "={{ $('getWaitingImg').item.json.oaId }}",
              "type": "string"
            },
            {
              "id": "62d78ed6-11db-4f00-b974-f5ace548ba9d",
              "name": "event_name",
              "value": "waiting_img",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        0
      ],
      "id": "c261bb1c-8205-4c44-b831-dbc99340226f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "afe7e03b-6e85-461e-bfb7-c127900c7159",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-22T19:44:04.495Z",
      "createdAt": "2026-02-22T19:44:04.495Z",
      "role": "workflow:owner",
      "workflowId": "rqXEEFHIM5mpsJFK",
      "projectId": "GTQprNa3RcCSHh8s"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-22T19:44:04.495Z",
  "versionId": "bbb9b3da-3ed4-447a-8d9e-93f78296b939"
}