workflows/s1RLFhUuCsmG2rnS.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-21T04:49:11.659Z",
    "createdAt": "2026-03-21T04:47:15.565Z",
    "versionId": "de875082-f9cc-456e-9239-a1ef08e79377",
    "workflowId": "s1RLFhUuCsmG2rnS",
    "nodes": [
      {
        "parameters": {
          "formTitle": "TẠO FILE BÁO CÁO KIỂM KÊ",
          "formDescription": "Upload files kết quả từ ERP, hệ thống trả về file list hàng hóa và file danh sách phiên/khu vực đã kiểm kê.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Store?",
                "placeholder": "CP62",
                "requiredField": true
              },
              {
                "fieldLabel": "Email:",
                "fieldType": "email",
                "requiredField": true
              },
              {
                "fieldLabel": "Files:",
                "fieldType": "file",
                "acceptFileTypes": "xlxs only",
                "requiredField": true
              }
            ]
          },
          "options": {
            "path": "inventory-count"
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -480,
          160
        ],
        "id": "6e78fbfc-171d-47bb-ac7e-c2355169c88d",
        "name": "On form submission",
        "webhookId": "91cb32c0-5c9e-4919-bef8-83776b304287"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "nBB279CuISsTemRL",
            "mode": "list",
            "cachedResultUrl": "/workflow/nBB279CuISsTemRL",
            "cachedResultName": "sub-inv_count"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          384,
          352
        ],
        "id": "81ebca82-2da7-4812-8fe4-42eb125c3ce6",
        "name": "Call 'sub-inv_count'"
      },
      {
        "parameters": {
          "jsCode": "// Mode: Run once for each item\n// 1) item meta: chỉ chứa Store? và Email\n// 2) item file: giữ nguyên toàn bộ binary (Files__*) của input\n\nconst meta = {\n  Store: ($json['Store?'] ?? '').toUpperCase(),\n  Email: $json['Email:'] ?? ''\n};\n\nconst bins = $input.item.binary || $binary || {};\nconst hasBin = Object.keys(bins).length > 0;\n\nconst out = [];\nout.push({ json: meta });               // item 1: metadata\n\nif (hasBin) {\n  out.push({ json: {}, binary: { ...bins } });  // item 2: binary\n}\n\nreturn out;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -320,
          160
        ],
        "id": "e7cec3a6-f38b-439f-9932-158d466fd5da",
        "name": "splitInfo"
      },
      {
        "parameters": {
          "jsCode": "// Mode: Run once for each item\n// Tách mọi binary Files__* -> mỗi file thành 1 item, rename key => data\nconst bins = $input.item.binary || $binary || {};\nconst out = [];\nlet i = 0;\n\nfor (const [k, bin] of Object.entries(bins)) {\n  // Bỏ điều kiện Files__* pattern, chỉ kiểm tra extension .xlsx\n  const fileName = bin.fileName || `file_${i}.xlsx`;\n  \n  // Chỉ lấy file có extension .xlsx\n  if (!fileName.toLowerCase().endsWith('.xlsx')) continue;\n  \n  out.push({\n    json: { index: i, fileName },\n    binary: { data: { ...bin, fileName } }        // đổi key -> data\n  });\n  i++;\n}\n\nreturn out;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          144
        ],
        "id": "e5016cb9-f50d-4e83-ad88-6f952fddaae9",
        "name": "splitBinary",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "={{ $('On form submission').item.json['Store?'] }} - {{ DateTime.fromISO($('On form submission').item.json.submittedAt).format('MM-yyyy') }}",
          "driveId": {
            "__rl": true,
            "value": "1FILNwvy51XqhBZAmdUcwMoSG789akx-B",
            "mode": "id"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          0,
          0
        ],
        "id": "2c2be2e4-37ae-4a3e-aa55-4327c47827fd",
        "name": "createFolder",
        "retryOnFail": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "GpJUmnoBmqg9ldSq",
            "name": "Google Drive account hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "field": "name"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          256,
          144
        ],
        "id": "7897dec7-7b5a-420d-a7d8-4227504c7a61",
        "name": "Summarize"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "store": "={{ $('splitInfo').first().json.Store }}",
              "e-mail": "={{ $('On form submission').item.json['Email:'] }}",
              "folderId": "={{ $('createFolder').first().json.id }}",
              "numFile": "={{ $json.count_name }}",
              "status": "waiting"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "store",
                "displayName": "store",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "e-mail",
                "displayName": "e-mail",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "folderId",
                "displayName": "folderId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "numFile",
                "displayName": "numFile",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          384,
          144
        ],
        "id": "84cab6ea-650f-4da7-b320-2bc37f0c21c8",
        "name": "addQueue",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "driveId": {
            "__rl": true,
            "value": "1FILNwvy51XqhBZAmdUcwMoSG789akx-B",
            "mode": "id"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $('createFolder').first().json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          128,
          144
        ],
        "id": "40ce4dc4-8854-4426-b412-1ad694d5c382",
        "name": "addFiles",
        "retryOnFail": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "GpJUmnoBmqg9ldSq",
            "name": "Google Drive account hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "status",
                "lookupValue": "doing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -288,
          384
        ],
        "id": "ab9a0a3c-1459-4101-bcf1-afac4568b4b4",
        "name": "checkQueue",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ba2c41de-bb1d-4daf-9823-af65d7bcc9e0",
                "leftValue": "={{ $json.Store }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -160,
          160
        ],
        "id": "478fc84f-b299-4470-b75b-388a82f9a408",
        "name": "checkBinary"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "status",
                "lookupValue": "waiting"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          0,
          352
        ],
        "id": "69c2e7bd-9376-4bd4-855b-3fc961484e4e",
        "name": "getWaiting",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          128,
          352
        ],
        "id": "2858a234-b59c-4fe2-be54-263132f6d010",
        "name": "Limit"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "folderId": "={{ $json.folderId }}",
              "status": "doing",
              "row_number": 0,
              "store": "={{ $json.store }}",
              "e-mail": "={{ $json['e-mail'] }}",
              "numFile": "={{ $json.numFile }}"
            },
            "matchingColumns": [
              "folderId"
            ],
            "schema": [
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "store",
                "displayName": "store",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "e-mail",
                "displayName": "e-mail",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "folderId",
                "displayName": "folderId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "numFile",
                "displayName": "numFile",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          256,
          352
        ],
        "id": "3600d0c6-81c4-4598-997f-45c251f9dd79",
        "name": "statusToDoing",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "folderId": "={{ $json.folderId }}",
              "status": "done",
              "row_number": 0,
              "store": "={{ $json.store }}",
              "e-mail": "={{ $json['e-mail'] }}",
              "numFile": "={{ $json.numFile }}"
            },
            "matchingColumns": [
              "folderId"
            ],
            "schema": [
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "store",
                "displayName": "store",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "e-mail",
                "displayName": "e-mail",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "folderId",
                "displayName": "folderId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "numFile",
                "displayName": "numFile",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          656,
          352
        ],
        "id": "5009594d-ed09-471b-a22e-5dd7b56b4615",
        "name": "statusToDone",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "status",
                "lookupValue": "doing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          528,
          352
        ],
        "id": "f2624344-3d7f-4667-a109-f2496b787e3a",
        "name": "getDoing",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "amount": 3,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          0,
          496
        ],
        "id": "52ccc30f-3ef2-45dd-b12b-1b6b04bb9f43",
        "name": "Wait",
        "webhookId": "7b0dc0b4-994d-4244-a167-ce18c69abeb1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "32d4c139-5aef-41e6-92f6-116750654fe5",
                "leftValue": "={{ $json.status }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -160,
          384
        ],
        "id": "52ed51a6-d065-4721-87cb-0afe9151ea37",
        "name": "queueOrNot"
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "splitInfo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'sub-inv_count'": {
        "main": [
          [
            {
              "node": "getDoing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "splitInfo": {
        "main": [
          [
            {
              "node": "checkBinary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "splitBinary": {
        "main": [
          [
            {
              "node": "addFiles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "addQueue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "addFiles": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "addQueue": {
        "main": [
          [
            {
              "node": "checkQueue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "checkQueue": {
        "main": [
          [
            {
              "node": "queueOrNot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "checkBinary": {
        "main": [
          [
            {
              "node": "splitBinary",
              "type": "main",
              "index": 0
            },
            {
              "node": "createFolder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getWaiting": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "statusToDoing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "statusToDoing": {
        "main": [
          [
            {
              "node": "Call 'sub-inv_count'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getDoing": {
        "main": [
          [
            {
              "node": "statusToDone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "checkQueue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "queueOrNot": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "getWaiting",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hoang Nguyen",
    "name": "Version de875082",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "de875082-f9cc-456e-9239-a1ef08e79377",
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "splitInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'sub-inv_count'": {
      "main": [
        [
          {
            "node": "getDoing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "splitInfo": {
      "main": [
        [
          {
            "node": "checkBinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "splitBinary": {
      "main": [
        [
          {
            "node": "addFiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "addQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addFiles": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addQueue": {
      "main": [
        [
          {
            "node": "checkQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkQueue": {
      "main": [
        [
          {
            "node": "queueOrNot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkBinary": {
      "main": [
        [
          {
            "node": "splitBinary",
            "type": "main",
            "index": 0
          },
          {
            "node": "createFolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getWaiting": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "statusToDoing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "statusToDoing": {
      "main": [
        [
          {
            "node": "Call 'sub-inv_count'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getDoing": {
      "main": [
        [
          {
            "node": "statusToDone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "checkQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "queueOrNot": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getWaiting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-22T19:13:19.301Z",
  "id": "s1RLFhUuCsmG2rnS",
  "isArchived": false,
  "meta": null,
  "name": "inv_count_monthy_share",
  "nodes": [
    {
      "parameters": {
        "formTitle": "TẠO FILE BÁO CÁO KIỂM KÊ",
        "formDescription": "Upload files kết quả từ ERP, hệ thống trả về file list hàng hóa và file danh sách phiên/khu vực đã kiểm kê.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Store?",
              "placeholder": "CP62",
              "requiredField": true
            },
            {
              "fieldLabel": "Email:",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Files:",
              "fieldType": "file",
              "acceptFileTypes": "xlxs only",
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "inventory-count"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -480,
        160
      ],
      "id": "6e78fbfc-171d-47bb-ac7e-c2355169c88d",
      "name": "On form submission",
      "webhookId": "91cb32c0-5c9e-4919-bef8-83776b304287"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nBB279CuISsTemRL",
          "mode": "list",
          "cachedResultUrl": "/workflow/nBB279CuISsTemRL",
          "cachedResultName": "sub-inv_count"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        384,
        352
      ],
      "id": "81ebca82-2da7-4812-8fe4-42eb125c3ce6",
      "name": "Call 'sub-inv_count'"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run once for each item\n// 1) item meta: chỉ chứa Store? và Email\n// 2) item file: giữ nguyên toàn bộ binary (Files__*) của input\n\nconst meta = {\n  Store: ($json['Store?'] ?? '').toUpperCase(),\n  Email: $json['Email:'] ?? ''\n};\n\nconst bins = $input.item.binary || $binary || {};\nconst hasBin = Object.keys(bins).length > 0;\n\nconst out = [];\nout.push({ json: meta });               // item 1: metadata\n\nif (hasBin) {\n  out.push({ json: {}, binary: { ...bins } });  // item 2: binary\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        160
      ],
      "id": "e7cec3a6-f38b-439f-9932-158d466fd5da",
      "name": "splitInfo"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run once for each item\n// Tách mọi binary Files__* -> mỗi file thành 1 item, rename key => data\nconst bins = $input.item.binary || $binary || {};\nconst out = [];\nlet i = 0;\n\nfor (const [k, bin] of Object.entries(bins)) {\n  // Bỏ điều kiện Files__* pattern, chỉ kiểm tra extension .xlsx\n  const fileName = bin.fileName || `file_${i}.xlsx`;\n  \n  // Chỉ lấy file có extension .xlsx\n  if (!fileName.toLowerCase().endsWith('.xlsx')) continue;\n  \n  out.push({\n    json: { index: i, fileName },\n    binary: { data: { ...bin, fileName } }        // đổi key -> data\n  });\n  i++;\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        144
      ],
      "id": "e5016cb9-f50d-4e83-ad88-6f952fddaae9",
      "name": "splitBinary",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('On form submission').item.json['Store?'] }} - {{ DateTime.fromISO($('On form submission').item.json.submittedAt).format('MM-yyyy') }}",
        "driveId": {
          "__rl": true,
          "value": "1FILNwvy51XqhBZAmdUcwMoSG789akx-B",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "2c2be2e4-37ae-4a3e-aa55-4327c47827fd",
      "name": "createFolder",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GpJUmnoBmqg9ldSq",
          "name": "Google Drive account hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        256,
        144
      ],
      "id": "7897dec7-7b5a-420d-a7d8-4227504c7a61",
      "name": "Summarize"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "store": "={{ $('splitInfo').first().json.Store }}",
            "e-mail": "={{ $('On form submission').item.json['Email:'] }}",
            "folderId": "={{ $('createFolder').first().json.id }}",
            "numFile": "={{ $json.count_name }}",
            "status": "waiting"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store",
              "displayName": "store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "numFile",
              "displayName": "numFile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        144
      ],
      "id": "84cab6ea-650f-4da7-b320-2bc37f0c21c8",
      "name": "addQueue",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "1FILNwvy51XqhBZAmdUcwMoSG789akx-B",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('createFolder').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        144
      ],
      "id": "40ce4dc4-8854-4426-b412-1ad694d5c382",
      "name": "addFiles",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GpJUmnoBmqg9ldSq",
          "name": "Google Drive account hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "doing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        384
      ],
      "id": "ab9a0a3c-1459-4101-bcf1-afac4568b4b4",
      "name": "checkQueue",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba2c41de-bb1d-4daf-9823-af65d7bcc9e0",
              "leftValue": "={{ $json.Store }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        160
      ],
      "id": "478fc84f-b299-4470-b75b-388a82f9a408",
      "name": "checkBinary"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "waiting"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        352
      ],
      "id": "69c2e7bd-9376-4bd4-855b-3fc961484e4e",
      "name": "getWaiting",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        128,
        352
      ],
      "id": "2858a234-b59c-4fe2-be54-263132f6d010",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "folderId": "={{ $json.folderId }}",
            "status": "doing",
            "row_number": 0,
            "store": "={{ $json.store }}",
            "e-mail": "={{ $json['e-mail'] }}",
            "numFile": "={{ $json.numFile }}"
          },
          "matchingColumns": [
            "folderId"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store",
              "displayName": "store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "numFile",
              "displayName": "numFile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        352
      ],
      "id": "3600d0c6-81c4-4598-997f-45c251f9dd79",
      "name": "statusToDoing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "folderId": "={{ $json.folderId }}",
            "status": "done",
            "row_number": 0,
            "store": "={{ $json.store }}",
            "e-mail": "={{ $json['e-mail'] }}",
            "numFile": "={{ $json.numFile }}"
          },
          "matchingColumns": [
            "folderId"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store",
              "displayName": "store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "numFile",
              "displayName": "numFile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        352
      ],
      "id": "5009594d-ed09-471b-a22e-5dd7b56b4615",
      "name": "statusToDone",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im1DFBZdAHRNCxMctlLfSlkz4pcsr1yA7kTfYUJHFo4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "doing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        352
      ],
      "id": "f2624344-3d7f-4667-a109-f2496b787e3a",
      "name": "getDoing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        496
      ],
      "id": "52ccc30f-3ef2-45dd-b12b-1b6b04bb9f43",
      "name": "Wait",
      "webhookId": "7b0dc0b4-994d-4244-a167-ce18c69abeb1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32d4c139-5aef-41e6-92f6-116750654fe5",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        384
      ],
      "id": "52ed51a6-d065-4721-87cb-0afe9151ea37",
      "name": "queueOrNot"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Store?": "CP40",
          "Email:": "canh.lv@phongvu-mna.vn",
          "Files:": [
            {
              "filename": "KK-2603-10446_ket_qua_kiem_ke_21032026100301.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 21408
            },
            {
              "filename": "KK-2603-10429_ket_qua_kiem_ke_21032026100309.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 16753
            },
            {
              "filename": "KK-2603-10424_ket_qua_kiem_ke_21032026100342.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 24291
            },
            {
              "filename": "KK-2603-10407_ket_qua_kiem_ke_21032026102317.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 32468
            },
            {
              "filename": "KK-2603-10410_ket_qua_kiem_ke_21032026102328.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 32564
            },
            {
              "filename": "KK-2603-10388_ket_qua_kiem_ke_21032026102522.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 52720
            },
            {
              "filename": "KK-2603-10386_ket_qua_kiem_ke_21032026102534.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 40933
            },
            {
              "filename": "KK-2603-10275_ket_qua_kiem_ke_21032026102620.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 84041
            },
            {
              "filename": "KK-2603-10238_ket_qua_kiem_ke_21032026102630.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 41843
            },
            {
              "filename": "KK-2603-10220_ket_qua_kiem_ke_21032026102737.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 45448
            },
            {
              "filename": "KK-2603-10225_ket_qua_kiem_ke_21032026102746.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 16479
            },
            {
              "filename": "KK-2603-10227_ket_qua_kiem_ke_21032026102822.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 16982
            },
            {
              "filename": "KK-2603-10215_ket_qua_kiem_ke_21032026102939.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 18711
            },
            {
              "filename": "KK-2603-10212_ket_qua_kiem_ke_21032026102947.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 42912
            },
            {
              "filename": "KK-2603-10194_ket_qua_kiem_ke_21032026103113.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 23098
            },
            {
              "filename": "KK-2603-10195_ket_qua_kiem_ke_21032026103122.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 25596
            },
            {
              "filename": "KK-2603-10187_ket_qua_kiem_ke_21032026103238.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 18724
            },
            {
              "filename": "KK-2603-10186_ket_qua_kiem_ke_21032026103238.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 12314
            },
            {
              "filename": "KK-2603-10188_ket_qua_kiem_ke_21032026103420.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 37602
            },
            {
              "filename": "KK-2603-10191_ket_qua_kiem_ke_21032026103420.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 17338
            },
            {
              "filename": "KK-2603-10193_ket_qua_kiem_ke_21032026103528.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 25845
            },
            {
              "filename": "KK-2603-10192_ket_qua_kiem_ke_21032026103528.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 15444
            },
            {
              "filename": "KK-2603-10160_ket_qua_kiem_ke_21032026103713.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 16687
            },
            {
              "filename": "KK-2603-10165_ket_qua_kiem_ke_21032026103713.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 56167
            },
            {
              "filename": "KK-2603-10163_ket_qua_kiem_ke_21032026103906.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 17062
            },
            {
              "filename": "KK-2603-10161_ket_qua_kiem_ke_21032026103906.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 17734
            },
            {
              "filename": "KK-2603-10164_ket_qua_kiem_ke_21032026104044.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 22354
            },
            {
              "filename": "KK-2603-10158_ket_qua_kiem_ke_21032026104044.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 18051
            },
            {
              "filename": "KK-2603-10159_ket_qua_kiem_ke_21032026104342.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 16555
            },
            {
              "filename": "KK-2603-10157_ket_qua_kiem_ke_21032026104342.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 24257
            },
            {
              "filename": "KK-2603-9976_ket_qua_kiem_ke_21032026104448.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 11655
            }
          ],
          "submittedAt": "2026-03-21T11:36:36.668+07:00",
          "formMode": "production"
        },
        "binary": {
          "Files__0": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10446_ket_qua_kiem_ke_21032026100301.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/e65131f8-dcee-4328-8407-4902635ee389",
            "fileSize": "21.4 kB",
            "bytes": 21408
          },
          "Files__1": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10429_ket_qua_kiem_ke_21032026100309.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/118c13cf-9ba1-4d77-be26-f6411d83a559",
            "fileSize": "16.8 kB",
            "bytes": 16753
          },
          "Files__2": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10424_ket_qua_kiem_ke_21032026100342.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/9704d358-51e8-45dd-96a6-5551ed504ded",
            "fileSize": "24.3 kB",
            "bytes": 24291
          },
          "Files__3": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10407_ket_qua_kiem_ke_21032026102317.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/c48987b0-45ea-42a4-a9ac-189059752d7b",
            "fileSize": "32.5 kB",
            "bytes": 32468
          },
          "Files__4": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10410_ket_qua_kiem_ke_21032026102328.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/93fdca29-f6c9-424e-b09d-e2b5353531ec",
            "fileSize": "32.6 kB",
            "bytes": 32564
          },
          "Files__5": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10388_ket_qua_kiem_ke_21032026102522.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/2f7dfe8b-31ed-45fd-b2e5-8e2a7c5cfd1a",
            "fileSize": "52.7 kB",
            "bytes": 52720
          },
          "Files__6": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10386_ket_qua_kiem_ke_21032026102534.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/202b0242-0818-4414-87a3-9668050f795f",
            "fileSize": "40.9 kB",
            "bytes": 40933
          },
          "Files__7": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10275_ket_qua_kiem_ke_21032026102620.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/2ff2a3fd-01f7-45a3-8d9c-b2582d8854a1",
            "fileSize": "84 kB",
            "bytes": 84041
          },
          "Files__8": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10238_ket_qua_kiem_ke_21032026102630.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/a7d74520-0ac1-4906-b226-ab675d93c4a1",
            "fileSize": "41.8 kB",
            "bytes": 41843
          },
          "Files__9": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10220_ket_qua_kiem_ke_21032026102737.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/37679e5c-a582-4504-858e-6ab08846b061",
            "fileSize": "45.4 kB",
            "bytes": 45448
          },
          "Files__10": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10225_ket_qua_kiem_ke_21032026102746.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/fdc5ac2f-4568-4707-acee-879810ceac30",
            "fileSize": "16.5 kB",
            "bytes": 16479
          },
          "Files__11": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10227_ket_qua_kiem_ke_21032026102822.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/a0694404-c17c-4184-b330-faab62b01a98",
            "fileSize": "17 kB",
            "bytes": 16982
          },
          "Files__12": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10215_ket_qua_kiem_ke_21032026102939.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/be7830fc-0352-40bc-a396-fc5a7b6e33d5",
            "fileSize": "18.7 kB",
            "bytes": 18711
          },
          "Files__13": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10212_ket_qua_kiem_ke_21032026102947.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/ac2526f8-114d-4249-bcf6-b3ab8c43ec35",
            "fileSize": "42.9 kB",
            "bytes": 42912
          },
          "Files__14": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10194_ket_qua_kiem_ke_21032026103113.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/6989a97f-9a72-419e-ae8b-90e8952eb399",
            "fileSize": "23.1 kB",
            "bytes": 23098
          },
          "Files__15": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10195_ket_qua_kiem_ke_21032026103122.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/e3fd9ca4-2be7-462c-ad59-928b3a84a91b",
            "fileSize": "25.6 kB",
            "bytes": 25596
          },
          "Files__16": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10187_ket_qua_kiem_ke_21032026103238.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/22652fb2-b509-4e6b-b986-036d4d40bafe",
            "fileSize": "18.7 kB",
            "bytes": 18724
          },
          "Files__17": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10186_ket_qua_kiem_ke_21032026103238.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/dfc6d556-b376-4c1b-ae90-85f63ab676df",
            "fileSize": "12.3 kB",
            "bytes": 12314
          },
          "Files__18": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10188_ket_qua_kiem_ke_21032026103420.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/bc12621c-c625-439a-be98-7b4e9f21d301",
            "fileSize": "37.6 kB",
            "bytes": 37602
          },
          "Files__19": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10191_ket_qua_kiem_ke_21032026103420.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/48061e5b-a6af-4b1d-af3b-d59ec043eb96",
            "fileSize": "17.3 kB",
            "bytes": 17338
          },
          "Files__20": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10193_ket_qua_kiem_ke_21032026103528.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/d895dc1d-2631-43a7-9f66-69d549a211a4",
            "fileSize": "25.8 kB",
            "bytes": 25845
          },
          "Files__21": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10192_ket_qua_kiem_ke_21032026103528.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/0b7c89c7-00e2-4fe6-a998-b9092feca43c",
            "fileSize": "15.4 kB",
            "bytes": 15444
          },
          "Files__22": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10160_ket_qua_kiem_ke_21032026103713.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/aab34531-7e27-44f6-b182-3fc73e83a184",
            "fileSize": "16.7 kB",
            "bytes": 16687
          },
          "Files__23": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10165_ket_qua_kiem_ke_21032026103713.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/28bc7c9d-a288-4c81-a61f-1644959d1adc",
            "fileSize": "56.2 kB",
            "bytes": 56167
          },
          "Files__24": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10163_ket_qua_kiem_ke_21032026103906.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/01a4b90e-16f1-46a6-bf72-b91733d757a9",
            "fileSize": "17.1 kB",
            "bytes": 17062
          },
          "Files__25": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10161_ket_qua_kiem_ke_21032026103906.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/5e4cb67a-7557-4bd0-89b4-bfd9bb5f97ff",
            "fileSize": "17.7 kB",
            "bytes": 17734
          },
          "Files__26": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10164_ket_qua_kiem_ke_21032026104044.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/b199a235-7a29-4ae9-8e60-af66af79534e",
            "fileSize": "22.4 kB",
            "bytes": 22354
          },
          "Files__27": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10158_ket_qua_kiem_ke_21032026104044.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/4412747a-5a38-48dc-838f-f50c5059f4a4",
            "fileSize": "18.1 kB",
            "bytes": 18051
          },
          "Files__28": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10159_ket_qua_kiem_ke_21032026104342.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/b8d77f00-4749-473f-846b-549c9f5a482a",
            "fileSize": "16.6 kB",
            "bytes": 16555
          },
          "Files__29": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-10157_ket_qua_kiem_ke_21032026104342.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/3b11ca23-54d3-43db-bc3d-f1ef227ab159",
            "fileSize": "24.3 kB",
            "bytes": 24257
          },
          "Files__30": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "KK-2603-9976_ket_qua_kiem_ke_21032026104448.xlsx",
            "id": "filesystem-v2:workflows/s1RLFhUuCsmG2rnS/executions/temp/binary_data/126eb069-f315-4887-844e-39368ba3389a",
            "fileSize": "11.7 kB",
            "bytes": 11655
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "tUGf8pqhOC0yFiUP",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-02-22T19:13:19.301Z",
      "createdAt": "2026-02-22T19:13:19.301Z",
      "role": "workflow:owner",
      "workflowId": "s1RLFhUuCsmG2rnS",
      "projectId": "GTQprNa3RcCSHh8s"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-21T04:47:15.563Z",
  "versionId": "de875082-f9cc-456e-9239-a1ef08e79377"
}