workflows/UJOEFIX40Gycyvx5.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-25T04:04:56.733Z",
    "createdAt": "2026-03-25T03:56:55.249Z",
    "versionId": "67bafcac-ba0f-4de1-8cd7-9e352581684d",
    "workflowId": "UJOEFIX40Gycyvx5",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": true,
          "httpMethod": [
            "POST"
          ],
          "path": "zalo_qr_gen",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          112,
          448
        ],
        "id": "df9e3527-3222-4ace-b773-6ca80a6cea59",
        "name": "Webhook",
        "webhookId": "f9c917c2-c7a6-41f8-b43a-06fe7777bbd4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3f0bae0c-a86e-48f0-988b-2de79190c0fb",
                "name": "token",
                "value": "1679833938550845221:aClDUELizguNHsusDVlCJVNvyIYJlvsXJHVvPgtIRrdwKmsyCrfZLrMzKBUfwlEy",
                "type": "string"
              },
              {
                "id": "1c7197bc-d6f5-48e4-95e1-9a2c432e9ee2",
                "name": "url",
                "value": "https://n8n.hoanghochoi.com/webhook-test/zalo_qr_gen",
                "type": "string"
              },
              {
                "id": "7419f1d4-f082-4b85-8a09-642fa0687534",
                "name": "secret_token",
                "value": "test_secret_token",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          304,
          144
        ],
        "id": "5d8f77ce-5f58-4b34-a85e-ca0d0562b0bd",
        "name": "Edit Fields",
        "notesInFlow": true,
        "notes": "set thông số"
      },
      {
        "parameters": {
          "content": "## Set Webhook",
          "height": 288,
          "width": 688
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "136a8f15-5a95-423e-b429-e2e8c3649f32",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://bot-api.zapps.me/bot{{ $json.token }}/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
              },
              {
                "name": "text",
                "value": "={{ $('Webhook').item.json.body.message.text }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          496,
          432
        ],
        "id": "fe3fe92a-45e9-45a6-ad7e-b6e3c38353af",
        "name": "HTTP Request1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          80,
          48
        ],
        "id": "7e840f43-a96b-4c27-a9ff-e8750e6f93fa",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "content": "## Nhận và gửi phản hồi",
          "height": 320,
          "width": 704,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          320
        ],
        "typeVersion": 1,
        "id": "21ada58b-35c6-47a5-b0a1-595a6f693eb6",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://bot-api.zapps.me/bot{{ $json.token }}/setWebhook",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "secret_token",
                "value": "={{ $json.secret_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          528,
          48
        ],
        "id": "5b4ae655-30a1-4008-8039-062bbff8de6f",
        "name": "setWebhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          []
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "setWebhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hoang Nguyen",
    "name": "Version 67bafcac",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "67bafcac-ba0f-4de1-8cd7-9e352581684d",
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "setWebhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-29T13:31:06.769Z",
  "id": "UJOEFIX40Gycyvx5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "zaloSimpleBot",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "zalo_qr_gen",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        448
      ],
      "id": "df9e3527-3222-4ace-b773-6ca80a6cea59",
      "name": "Webhook",
      "webhookId": "f9c917c2-c7a6-41f8-b43a-06fe7777bbd4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f0bae0c-a86e-48f0-988b-2de79190c0fb",
              "name": "token",
              "value": "1679833938550845221:aClDUELizguNHsusDVlCJVNvyIYJlvsXJHVvPgtIRrdwKmsyCrfZLrMzKBUfwlEy",
              "type": "string"
            },
            {
              "id": "1c7197bc-d6f5-48e4-95e1-9a2c432e9ee2",
              "name": "url",
              "value": "https://n8n.hoanghochoi.com/webhook-test/zalo_qr_gen",
              "type": "string"
            },
            {
              "id": "7419f1d4-f082-4b85-8a09-642fa0687534",
              "name": "secret_token",
              "value": "test_secret_token",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        144
      ],
      "id": "5d8f77ce-5f58-4b34-a85e-ca0d0562b0bd",
      "name": "Edit Fields",
      "notesInFlow": true,
      "notes": "set thông số"
    },
    {
      "parameters": {
        "content": "## Set Webhook",
        "height": 288,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "136a8f15-5a95-423e-b429-e2e8c3649f32",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zapps.me/bot{{ $json.token }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        432
      ],
      "id": "fe3fe92a-45e9-45a6-ad7e-b6e3c38353af",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        48
      ],
      "id": "7e840f43-a96b-4c27-a9ff-e8750e6f93fa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Nhận và gửi phản hồi",
        "height": 320,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        320
      ],
      "typeVersion": 1,
      "id": "21ada58b-35c6-47a5-b0a1-595a6f693eb6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zapps.me/bot{{ $json.token }}/setWebhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "secret_token",
              "value": "={{ $json.secret_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        48
      ],
      "id": "5b4ae655-30a1-4008-8039-062bbff8de6f",
      "name": "setWebhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-02-22T18:06:45.879Z",
      "createdAt": "2026-02-22T18:06:45.879Z",
      "role": "workflow:owner",
      "workflowId": "UJOEFIX40Gycyvx5",
      "projectId": "GTQprNa3RcCSHh8s"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-25T03:56:55.700Z",
  "versionId": "67bafcac-ba0f-4de1-8cd7-9e352581684d"
}