workflows/xuOGFqDFq79GYyv4.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "parse_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get_old_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "parse_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_1": {
      "main": [
        [
          {
            "node": "record_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_2": {
      "main": [
        [
          {
            "node": "record_new_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_old_info": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "record_token": {
      "main": [
        [
          {
            "node": "call_bellow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "record_new_info": {
      "main": [
        [
          {
            "node": "getInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "first_author": {
      "main": [
        [
          {
            "node": "get_old_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getInfo": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "upsertOaInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsertOaInfo": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-23T01:42:47.942Z",
  "id": "xuOGFqDFq79GYyv4",
  "isArchived": false,
  "meta": null,
  "name": "auto_refresh_token_zalo_oa",
  "nodes": [
    {
      "parameters": {
        "path": "zalo-oa",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "41b3de18-29a0-4de6-9a68-aa12a186ed99",
      "name": "Webhook",
      "webhookId": "acb7257e-cc42-4927-8111-109c459c03bb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        144,
        0
      ],
      "id": "468299f2-73e8-4ae6-80e3-c86da197f1c3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth.zaloapp.com/v4/oa/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "secret_key",
              "value": "o4JaAUQMlJ5KSHJy9438"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $json.query.code }}"
            },
            {
              "name": "app_id",
              "value": "2347457985316425334"
            },
            {
              "name": "grant_type",
              "value": "authorization_code"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        0
      ],
      "id": "b865b744-ae30-4beb-a44e-73affb9c470d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ],
      "id": "04628041-f645-4565-b038-8022258f0324",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth.zaloapp.com/v4/oa/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "secret_key",
              "value": "o4JaAUQMlJ5KSHJy9438"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "refresh_token",
              "value": "={{ $json.refresh_token }}"
            },
            {
              "name": "app_id",
              "value": "2347457985316425334"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        240
      ],
      "id": "e2f93c0f-20a9-404d-aa97-c73f819317cf",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        240
      ],
      "id": "9b033498-3320-409c-935c-9b6627ba4f5c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "vpspADlABkNFyCnh",
          "mode": "list",
          "cachedResultName": "zalo_oa_tokens",
          "cachedResultUrl": "/projects/WAqDK79b9owhbfuS/datatables/vpspADlABkNFyCnh"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "state",
              "keyValue": "={{ $('Webhook').item.json.query.state }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "={{ $('Webhook').item.json.query.state }}",
            "access_token": "={{ $json.access_token }}",
            "refresh_token": "={{ $json.refresh_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "a2ef1e92-0b57-4cc5-b4ae-575e2540ab80",
      "name": "record_token"
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json.data;\n\ntry {\n  const parsed = JSON.parse(response);\n  return [\n    {\n      json: {\n        access_token: parsed.access_token,\n        refresh_token: parsed.refresh_token,\n        expires_in: parsed.expires_in\n      }\n    }\n  ];\n} catch (error) {\n  throw new Error(\"Lỗi khi parse JSON từ 'data': \" + error.message);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "1f1b67a3-b96c-408b-b51c-7d638cfe5e9e",
      "name": "parse_1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json.data;\n\ntry {\n  const parsed = JSON.parse(response);\n  return [\n    {\n      json: {\n        access_token: parsed.access_token,\n        refresh_token: parsed.refresh_token,\n        expires_in: parsed.expires_in\n      }\n    }\n  ];\n} catch (error) {\n  throw new Error(\"Lỗi khi parse JSON từ 'data': \" + error.message);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        240
      ],
      "id": "8b4ccfeb-e159-4d39-bbf9-850a965544ba",
      "name": "parse_2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vpspADlABkNFyCnh",
          "mode": "list",
          "cachedResultName": "zalo_oa_tokens",
          "cachedResultUrl": "/projects/WAqDK79b9owhbfuS/datatables/vpspADlABkNFyCnh"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        144,
        240
      ],
      "id": "7b59a796-d604-4832-85e0-f289969fe5b1",
      "name": "get_old_info"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "vpspADlABkNFyCnh",
          "mode": "list",
          "cachedResultName": "zalo_oa_tokens",
          "cachedResultUrl": "/projects/WAqDK79b9owhbfuS/datatables/vpspADlABkNFyCnh"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "state",
              "keyValue": "={{ $('Loop Over Items').item.json.state }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "={{ $('Loop Over Items').item.json.state }}",
            "access_token": "={{ $json.access_token }}",
            "refresh_token": "={{ $json.refresh_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        736,
        240
      ],
      "id": "f4aa1a21-3d5b-4c18-9ac6-d8e6eb1d9b3c",
      "name": "record_new_info"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        176
      ],
      "id": "20b505a8-8de6-48df-9a4b-9c6803f46271",
      "name": "first_author"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Zn8LRQw2QCaRKROj",
          "mode": "list",
          "cachedResultUrl": "/workflow/Zn8LRQw2QCaRKROj",
          "cachedResultName": "Auto refresh token Zalo OA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        736,
        0
      ],
      "id": "0731fb5a-48c1-4a3a-92c6-ee9a37bfd4e3",
      "name": "call_bellow"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vpspADlABkNFyCnh",
          "mode": "list",
          "cachedResultName": "zalo_oa_tokens",
          "cachedResultUrl": "/projects/WAqDK79b9owhbfuS/datatables/vpspADlABkNFyCnh"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        864,
        240
      ],
      "id": "523abea2-b5cf-43d1-96b1-cb745a3409b8",
      "name": "getInfo"
    },
    {
      "parameters": {
        "url": "https://openapi.zalo.me/v2.0/oa/getoa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        240
      ],
      "id": "c7cfeacc-aa08-47f2-8575-1dcfae24fff0",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "FrgmZD1mcv9xYWkU",
          "mode": "list",
          "cachedResultName": "zalo_oa_id",
          "cachedResultUrl": "/projects/WAqDK79b9owhbfuS/datatables/FrgmZD1mcv9xYWkU"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "oa_id",
              "keyValue": "={{ $json.data.oa_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "={{ $('get_old_info').item.json.state }}",
            "oa_id": "={{ $json.data.oa_id }}",
            "oa_name": "={{ $json.data.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "oa_id",
              "displayName": "oa_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "oa_name",
              "displayName": "oa_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1136,
        240
      ],
      "id": "bd9bd662-db0b-45d7-9df6-0278557f921a",
      "name": "upsertOaInfo"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-23T01:42:47.942Z",
      "createdAt": "2026-02-23T01:42:47.942Z",
      "role": "workflow:owner",
      "workflowId": "xuOGFqDFq79GYyv4",
      "projectId": "GTQprNa3RcCSHh8s"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-10-07T13:20:09.465Z",
      "createdAt": "2025-10-07T13:20:09.465Z",
      "id": "R8JsFVZgS7NoVrt3",
      "name": "zalo"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-23T01:42:53.152Z",
  "versionId": "75416850-6927-4a33-bf8e-0f484278bdfa"
}