workflows/YJb3I9N6Bi7VeLur.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-06T05:27:43.345Z",
    "createdAt": "2026-04-06T05:09:16.457Z",
    "versionId": "0d4826f6-d3fa-481f-bb22-d0e9b00b3917",
    "workflowId": "YJb3I9N6Bi7VeLur",
    "nodes": [
      {
        "parameters": {
          "mergeByFields": {
            "values": [
              {
                "field1": "SKU ID_New",
                "field2": "SKU ID_New"
              }
            ]
          },
          "fuzzyCompare": true,
          "options": {}
        },
        "type": "n8n-nodes-base.compareDatasets",
        "typeVersion": 2.3,
        "position": [
          -176,
          96
        ],
        "id": "b110bf85-0103-4d34-980f-eeb36e7c13b8",
        "name": "Compare Datasets"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1zeuX2kU4FYICYRYITG5GaNOFyoUbYQYLocXKY4ilBmQ",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "TOTAL",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zeuX2kU4FYICYRYITG5GaNOFyoUbYQYLocXKY4ilBmQ/edit#gid=0"
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "specifyRange",
                "headerRow": 2,
                "firstDataRow": 3
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -320,
          208
        ],
        "id": "d04f5581-139d-4b7b-9c55-625d8d0c7021",
        "name": "getMainDoc",
        "notesInFlow": true,
        "retryOnFail": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "V9RsDbAreeVaJR0q",
            "name": "check-ctkm-hoang.nv1"
          }
        },
        "notes": "https://docs.google.com/spreadsheets/d/1zeuX2kU4FYICYRYITG5GaNOFyoUbYQYLocXKY4ilBmQ"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts/edit#gid=0"
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "specifyRange",
                "headerRow": 2,
                "firstDataRow": 3
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -320,
          48
        ],
        "id": "80b8401a-cda0-4dae-97ab-644038292b1f",
        "name": "getSideDoc",
        "notesInFlow": true,
        "retryOnFail": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "V9RsDbAreeVaJR0q",
            "name": "check-ctkm-hoang.nv1"
          }
        },
        "notes": "https://docs.google.com/spreadsheets/d/12LYDG5fhzAPngdXT9NLpDLAOaPyEQKGs1uOFb0A0QQA"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12LYDG5fhzAPngdXT9NLpDLAOaPyEQKGs1uOFb0A0QQA/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Region": "={{ $json.Region }}",
              "Store ID": "={{ $json['Store ID'] }}",
              "Store name": "={{ $json['Store name'] }}",
              "CAT ID": "={{ $json['CAT ID'] }}",
              "Cat name": "={{ $json['Cat name'] }}",
              "SKU ID_New": "={{ $json['SKU ID_New'] }}",
              "SKU name_New": "={{ $json['SKU name_New'] }}",
              "Qty": "={{ $json.Qty }}",
              "Số Serial": "={{ $json['Số Serial'] }}",
              "Brand": "={{ $json.Brand }}",
              "End of warranty date": "={{ $json['End of warranty date'] }}",
              "SRP": "={{ $json.SRP }}",
              "CSP": "={{ $json.CSP }}",
              "Clearance Price": "={{ $json['Clearance Price'] }}",
              "% Discount/ CSP": "={{ $json['% Discount/ CSP'] }}",
              "% Discount/ SRP": "={{ $json['% Discount/ SRP'] }}",
              "KFI": "={{ $json.KFI }}",
              "Note": "={{ $json.Note }}",
              "Exterior": "={{ $json.Exterior }}",
              "Interior": "={{ $json.Interior }}",
              "Status": "={{ $json.Status }}",
              "Condition": "={{ $json.Condition }}",
              "Link hình ảnh": "={{ $json['Link hình ảnh'] }}",
              "CM": "={{ $json.CM }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Region",
                "displayName": "Region",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Store ID",
                "displayName": "Store ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Store name",
                "displayName": "Store name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CAT ID",
                "displayName": "CAT ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Cat name",
                "displayName": "Cat name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SKU ID_New",
                "displayName": "SKU ID_New",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SKU name_New",
                "displayName": "SKU name_New",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Qty",
                "displayName": "Qty",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Số Serial",
                "displayName": "Số Serial",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Brand",
                "displayName": "Brand",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "End of warranty date",
                "displayName": "End of warranty date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Used status",
                "displayName": "Used status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "SRP",
                "displayName": "SRP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CSP",
                "displayName": "CSP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Clearance Price",
                "displayName": "Clearance Price",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "% Discount/ CSP",
                "displayName": "% Discount/ CSP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "% Discount/ SRP",
                "displayName": "% Discount/ SRP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "KFI",
                "displayName": "KFI",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Note",
                "displayName": "Note",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Exterior",
                "displayName": "Exterior",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Interior",
                "displayName": "Interior",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Condition",
                "displayName": "Condition",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Condition",
                "displayName": "Condition",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Link hình ảnh",
                "displayName": "Link hình ảnh",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CM",
                "displayName": "CM",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "cellFormat": "USER_ENTERED",
            "locationDefine": {
              "values": {
                "headerRow": 2
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -16,
          224
        ],
        "id": "89694116-616a-4c00-913e-9e48b4f63b45",
        "name": "updateSideDoc",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "documentId": {
            "__rl": true,
            "value": "1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12LYDG5fhzAPngdXT9NLpDLAOaPyEQKGs1uOFb0A0QQA/edit#gid=0"
          },
          "startIndex": "={{ $json.row_number }}"
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          288,
          16
        ],
        "id": "22cc39f0-24cc-486e-8352-ddc1a2f2ff82",
        "name": "clearOld",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          0,
          0
        ],
        "id": "c0087b70-2767-4a9d-a17c-868eebde7e47",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -480,
          128
        ],
        "id": "de98459f-ce8b-4921-9abf-52054c770827",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "col_9",
                "lookupValue": "={{ $json['Số Serial'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          160,
          16
        ],
        "id": "65cc33a8-5c8a-495c-8486-ba8bb5da4792",
        "name": "getOldLocation",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "MTh9LghqaMKPTAzs",
            "name": "zalo-chat-bot-hoang.nv1"
          }
        }
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          496,
          16
        ],
        "id": "5151199b-4984-479f-b188-59ddf5a60c53",
        "name": "Wait",
        "webhookId": "450e522c-db67-4087-a519-90268a8c74db"
      }
    ],
    "connections": {
      "getMainDoc": {
        "main": [
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "getSideDoc": {
        "main": [
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare Datasets": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [],
          [
            {
              "node": "updateSideDoc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "getOldLocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "getSideDoc",
              "type": "main",
              "index": 0
            },
            {
              "node": "getMainDoc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getOldLocation": {
        "main": [
          [
            {
              "node": "clearOld",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "clearOld": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hoang Nguyen",
    "name": "Version 0d4826f6",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "0d4826f6-d3fa-481f-bb22-d0e9b00b3917",
  "connections": {
    "getMainDoc": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "getSideDoc": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "updateSideDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "getOldLocation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "getSideDoc",
            "type": "main",
            "index": 0
          },
          {
            "node": "getMainDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getOldLocation": {
      "main": [
        [
          {
            "node": "clearOld",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clearOld": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-23T01:42:02.647Z",
  "id": "YJb3I9N6Bi7VeLur",
  "isArchived": false,
  "meta": null,
  "name": "get-clearance-for-Vu",
  "nodes": [
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "SKU ID_New",
              "field2": "SKU ID_New"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -176,
        96
      ],
      "id": "b110bf85-0103-4d34-980f-eeb36e7c13b8",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zeuX2kU4FYICYRYITG5GaNOFyoUbYQYLocXKY4ilBmQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "TOTAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zeuX2kU4FYICYRYITG5GaNOFyoUbYQYLocXKY4ilBmQ/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        208
      ],
      "id": "d04f5581-139d-4b7b-9c55-625d8d0c7021",
      "name": "getMainDoc",
      "notesInFlow": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      },
      "notes": "https://docs.google.com/spreadsheets/d/1zeuX2kU4FYICYRYITG5GaNOFyoUbYQYLocXKY4ilBmQ"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        48
      ],
      "id": "80b8401a-cda0-4dae-97ab-644038292b1f",
      "name": "getSideDoc",
      "notesInFlow": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      },
      "notes": "https://docs.google.com/spreadsheets/d/12LYDG5fhzAPngdXT9NLpDLAOaPyEQKGs1uOFb0A0QQA"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12LYDG5fhzAPngdXT9NLpDLAOaPyEQKGs1uOFb0A0QQA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Region": "={{ $json.Region }}",
            "Store ID": "={{ $json['Store ID'] }}",
            "Store name": "={{ $json['Store name'] }}",
            "CAT ID": "={{ $json['CAT ID'] }}",
            "Cat name": "={{ $json['Cat name'] }}",
            "SKU ID_New": "={{ $json['SKU ID_New'] }}",
            "SKU name_New": "={{ $json['SKU name_New'] }}",
            "Qty": "={{ $json.Qty }}",
            "Số Serial": "={{ $json['Số Serial'] }}",
            "Brand": "={{ $json.Brand }}",
            "End of warranty date": "={{ $json['End of warranty date'] }}",
            "SRP": "={{ $json.SRP }}",
            "CSP": "={{ $json.CSP }}",
            "Clearance Price": "={{ $json['Clearance Price'] }}",
            "% Discount/ CSP": "={{ $json['% Discount/ CSP'] }}",
            "% Discount/ SRP": "={{ $json['% Discount/ SRP'] }}",
            "KFI": "={{ $json.KFI }}",
            "Note": "={{ $json.Note }}",
            "Exterior": "={{ $json.Exterior }}",
            "Interior": "={{ $json.Interior }}",
            "Status": "={{ $json.Status }}",
            "Condition": "={{ $json.Condition }}",
            "Link hình ảnh": "={{ $json['Link hình ảnh'] }}",
            "CM": "={{ $json.CM }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Region",
              "displayName": "Region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Store ID",
              "displayName": "Store ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Store name",
              "displayName": "Store name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAT ID",
              "displayName": "CAT ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cat name",
              "displayName": "Cat name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SKU ID_New",
              "displayName": "SKU ID_New",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SKU name_New",
              "displayName": "SKU name_New",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qty",
              "displayName": "Qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Số Serial",
              "displayName": "Số Serial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "End of warranty date",
              "displayName": "End of warranty date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Used status",
              "displayName": "Used status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SRP",
              "displayName": "SRP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CSP",
              "displayName": "CSP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clearance Price",
              "displayName": "Clearance Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "% Discount/ CSP",
              "displayName": "% Discount/ CSP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "% Discount/ SRP",
              "displayName": "% Discount/ SRP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "KFI",
              "displayName": "KFI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Exterior",
              "displayName": "Exterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interior",
              "displayName": "Interior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Condition",
              "displayName": "Condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Condition",
              "displayName": "Condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link hình ảnh",
              "displayName": "Link hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CM",
              "displayName": "CM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        224
      ],
      "id": "89694116-616a-4c00-913e-9e48b4f63b45",
      "name": "updateSideDoc",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12LYDG5fhzAPngdXT9NLpDLAOaPyEQKGs1uOFb0A0QQA/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        16
      ],
      "id": "22cc39f0-24cc-486e-8352-ddc1a2f2ff82",
      "name": "clearOld",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "c0087b70-2767-4a9d-a17c-868eebde7e47",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        128
      ],
      "id": "de98459f-ce8b-4921-9abf-52054c770827",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uvSNw6PL46896rOo0PIf67hP3BCmR6WnoR1zhthU_ts/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "col_9",
              "lookupValue": "={{ $json['Số Serial'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        16
      ],
      "id": "65cc33a8-5c8a-495c-8486-ba8bb5da4792",
      "name": "getOldLocation",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MTh9LghqaMKPTAzs",
          "name": "zalo-chat-bot-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        16
      ],
      "id": "5151199b-4984-479f-b188-59ddf5a60c53",
      "name": "Wait",
      "webhookId": "450e522c-db67-4087-a519-90268a8c74db"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-23T01:42:02.647Z",
      "createdAt": "2026-02-23T01:42:02.647Z",
      "role": "workflow:owner",
      "workflowId": "YJb3I9N6Bi7VeLur",
      "projectId": "GTQprNa3RcCSHh8s"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-06T05:09:16.455Z",
  "versionId": "0d4826f6-d3fa-481f-bb22-d0e9b00b3917"
}