workflows/Z7Jya2OjtUTAbtT2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "getPromotions": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "deleteOldSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "makeLink": {
      "main": [
        [
          {
            "node": "updateLinks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "getPromotionsNameVu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "getDocVu",
            "type": "main",
            "index": 0
          },
          {
            "node": "getDocMKT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getDocVu": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setSheetId": {
      "main": [
        [
          {
            "node": "getSheetNameFromVu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getSheetNameFromVu": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getDocMKT": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "checkDiff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkDiff": {
      "main": [
        [
          {
            "node": "diff?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diff?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setPra": {
      "main": [
        [
          {
            "node": "Call 'My workflow 12'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "getPromotions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'My workflow 12'": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "getPromotionsNameVu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleteOldSheet": {
      "main": [
        [
          {
            "node": "createNewDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit5": {
      "main": [
        [
          {
            "node": "setSheetId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addPromationName": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "addPromationName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "getNameHiddenInMKT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getNameHiddenInMKT": {
      "main": [
        [
          {
            "node": "clearRow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createNewDoc": {
      "main": [
        [
          {
            "node": "makeLink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clearRow": {
      "main": [
        [
          {
            "node": "deleteHiddenSheetVu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "setPra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleteHiddenSheetVu": {
      "main": [
        [
          {
            "node": "5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateLinks": {
      "main": [
        [
          {
            "node": "updateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Limit5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getPromotionsNameVu": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5s": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getPromotionsNameVu1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit7": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets1": {
      "main": [
        [
          {
            "node": "Limit7",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Limit7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Limit7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-23T02:12:17.595Z",
  "id": "Z7Jya2OjtUTAbtT2",
  "isArchived": false,
  "meta": null,
  "name": "check-CTKM",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1vmHg8MZZgznjPYJSdP3tYBZZek9IpwVYpTuyxZJ6KN4"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        816
      ],
      "id": "3fb3368f-61ce-4c11-8225-19b2780a2928",
      "name": "getPromotions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "DÁN MÀN HÌNH LAPTOP MIỄN PHÍ",
              "displayName": "DÁN MÀN HÌNH LAPTOP MIỄN PHÍ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "col_2",
              "displayName": "col_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "col_3",
              "displayName": "col_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "col_4",
              "displayName": "col_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        880
      ],
      "id": "6e69645d-7d5d-4ffa-a681-fb00f66f656f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        592,
        752
      ],
      "id": "718a7561-4cc4-4214-a22b-a4f8d4f182ea",
      "name": "Limit1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2aad1ae-81d1-4004-a24d-e844d1247beb",
              "name": "link",
              "value": "=https://docs.google.com/spreadsheets/d/1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo/edit?gid={{ $json.sheetId }}#gid={{ $json.sheetId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        752
      ],
      "id": "6061b118-8ba1-4c07-a267-3c41603908e0",
      "name": "makeLink"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        208
      ],
      "id": "86519ba3-3239-4b5b-b2ac-2d136f0f0cad",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        496
      ],
      "id": "6396a062-e497-4fdc-b77b-25986a9077ad",
      "name": "Loop Over Items",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('setSheetId').first().json.vuDocId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['Tên CTKM'] }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        448
      ],
      "id": "e92abd35-0254-45bd-adea-05123b13f844",
      "name": "getDocVu",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('setSheetId').first().json.mktDocId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['Tên CTKM'] }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        576
      ],
      "id": "6e387997-f14c-494a-8b22-5aecb3e7ab91",
      "name": "getDocMKT",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a059a127-a36e-4d6f-9f48-99b40245623d",
              "name": "vuDocId",
              "value": "1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
              "type": "string"
            },
            {
              "id": "4188e7b4-376d-4e54-b3d2-f1f2acc949c5",
              "name": "mktDocId",
              "value": "1vmHg8MZZgznjPYJSdP3tYBZZek9IpwVYpTuyxZJ6KN4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        496
      ],
      "id": "d82ad21d-5120-4bdc-a64f-999fc21fa591",
      "name": "setSheetId"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.vuDocId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Chia CTKM",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        496
      ],
      "id": "dfca062d-68ea-4c15-bc87-2423cab375e6",
      "name": "getSheetNameFromVu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ 2 input\nconst input1 = $('getDocVu').all();\nconst input2 = $('getDocMKT').all();\n\nlet hasChanges = false;\nlet changes = [];\n\n// Hàm tạo key từ các giá trị (bỏ qua row_number)\nfunction createValueKey(record) {\n  const values = [];\n  Object.keys(record)\n    .filter(key => key !== 'row_number')\n    .sort()\n    .forEach(key => {\n      values.push(`${key}:${record[key]}`);\n    });\n  return values.join('|');\n}\n\n// Tạo Set các giá trị từ input1 và input2\nconst values1 = new Set(input1.map(item => createValueKey(item.json)));\nconst values2 = new Set(input2.map(item => createValueKey(item.json)));\n\n// Kiểm tra số lượng bản ghi unique\nif (values1.size !== values2.size) {\n  hasChanges = true;\n  changes.push({\n    type: 'Unique record count difference',\n    input1_unique: values1.size,\n    input2_unique: values2.size\n  });\n}\n\n// Tìm các giá trị chỉ có trong input1\nvalues1.forEach(value => {\n  if (!values2.has(value)) {\n    hasChanges = true;\n    changes.push({\n      type: 'Only in Input 1',\n      value: value\n    });\n  }\n});\n\n// Tìm các giá trị chỉ có trong input2\nvalues2.forEach(value => {\n  if (!values1.has(value)) {\n    hasChanges = true;\n    changes.push({\n      type: 'Only in Input 2',\n      value: value\n    });\n  }\n});\n\n// Trả về kết quả\nreturn [{\n  json: {\n    has_changes: hasChanges,\n    total_changes: changes.length,\n    input1_records: input1.length,\n    input2_records: input2.length,\n    input1_unique: values1.size,\n    input2_unique: values2.size,\n    changes: changes.slice(0, 20) // Hiển thị 20 thay đổi đầu tiên\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        496
      ],
      "id": "2065a401-cc6e-4ad1-af24-4df702177fa2",
      "name": "checkDiff"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        496
      ],
      "id": "d61c492a-60dd-46e8-a075-5e73b471640c",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1264,
        496
      ],
      "id": "17a87cdc-cf5d-4d67-9986-d5ce0a359061",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51921e90-3bd2-43cb-8319-cd6796109d24",
              "leftValue": "={{ $json.has_changes }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        496
      ],
      "id": "f6364bb1-92a9-44ea-b06c-a2fcb606f6d1",
      "name": "diff?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "l31syw6JUYbEiePD",
          "mode": "list",
          "cachedResultUrl": "/workflow/l31syw6JUYbEiePD",
          "cachedResultName": "check-CTKM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1920,
        432
      ],
      "id": "fded5ddc-46e8-40a3-b034-4e28cc466d13",
      "name": "Call 'My workflow 12'",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        272,
        816
      ],
      "id": "fd2d2fad-daae-423d-93e6-5be35cc64d51",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80e5dc1f-0587-45d8-8a9f-d9b28741b7be",
              "name": "sheetName",
              "value": "={{ $('Loop Over Items').item.json['Tên CTKM'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        432
      ],
      "id": "4784863a-f759-4201-a703-eeed100755e2",
      "name": "setPra"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        432
      ],
      "id": "e4066ff1-3620-4cc5-ad9c-dca20b9820e5",
      "name": "Wait",
      "webhookId": "1a6b084d-6b19-47af-b32a-a8ea2802456b"
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1vmHg8MZZgznjPYJSdP3tYBZZek9IpwVYpTuyxZJ6KN4",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "sheets(properties(title,sheetId,index,hidden))"
            },
            {
              "name": "includeGridData",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        208
      ],
      "id": "eb03e8aa-b645-4c3c-93e8-e566a51131a2",
      "name": "HTTP Request",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "sheets",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        208
      ],
      "id": "43c916fc-e3c7-460c-9d2b-4fd8d9229e92",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e647c546-3383-425d-999f-b0e1914487a6",
              "leftValue": "={{ $json.properties.hidden }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "cafc6a3d-b0b8-4c77-9348-e65fb524ac04",
              "leftValue": "={{ $json.properties.title }}",
              "rightValue": "Overview",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        208
      ],
      "id": "548c1b90-b088-4a19-8a22-15fd39a45996",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        736,
        144
      ],
      "id": "56ffd79c-cff1-471e-ba2f-4120527b8e92",
      "name": "Limit3"
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.sheetName }}",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        752
      ],
      "id": "234b2179-7d57-4c7e-991e-2de0a0848a3f",
      "name": "deleteOldSheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        400,
        496
      ],
      "id": "34d96eef-2efb-4141-b61d-172ca33c378b",
      "name": "Limit5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Chia CTKM",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tên CTKM": "={{ $json.properties.title }}"
          },
          "matchingColumns": [
            "Tên CTKM"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date (Auto check 8h20 hàng ngày hoặc . mới vào cột Time)",
              "displayName": "Date (Auto check 8h20 hàng ngày hoặc . mới vào cột Time)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tên CTKM",
              "displayName": "Tên CTKM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái (chuyển về Chưa cập nhật nếu doc MKT có thay đổi)",
              "displayName": "Trạng thái (chuyển về Chưa cập nhật nếu doc MKT có thay đổi)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phụ trách",
              "displayName": "Phụ trách",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái đưa lên Web_App",
              "displayName": "Trạng thái đưa lên Web_App",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        256
      ],
      "id": "cfa2cf8f-edf5-4e36-bd8d-81c4c06fe1e6",
      "name": "addPromationName",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Tên CTKM",
              "field2": "properties.title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1008,
        160
      ],
      "id": "f3f3ac51-3827-45c6-b210-372505d26b9a",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        64
      ],
      "id": "ef6259f0-d8a3-4286-91d9-df9dd18757ad",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Chia CTKM",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Tên CTKM",
              "lookupValue": "={{ $json['Tên CTKM'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        64
      ],
      "id": "d82123ba-7622-4adb-bc64-b733e00e6693",
      "name": "getNameHiddenInMKT",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "title": "={{ $('When Executed by Another Workflow').item.json.sheetName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        752
      ],
      "id": "60ed6a0e-237d-41d2-b874-55dcfdb15b0d",
      "name": "createNewDoc",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Chia CTKM",
          "mode": "name"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        64
      ],
      "id": "c9947c8b-81ec-4c65-93d2-6b021df640a5",
      "name": "clearRow",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2048,
        432
      ],
      "id": "d454efe7-1236-46ba-8dfa-bea9be5ae270",
      "name": "Limit2"
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json['Tên CTKM'] }}",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        64
      ],
      "id": "21020a83-b1c7-49c7-9b7b-6074033e9750",
      "name": "deleteHiddenSheetVu",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Chia CTKM",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tên CTKM": "={{ $('createNewDoc').item.json.title }}",
            "Link": "={{ $json.link }}",
            "Trạng thái (chuyển về Chưa cập nhật nếu doc MKT có thay đổi)": "Chưa cập nhật"
          },
          "matchingColumns": [
            "Tên CTKM"
          ],
          "schema": [
            {
              "id": "Time (thêm . vào cột này nếu có CTKM mới)",
              "displayName": "Time (thêm . vào cột này nếu có CTKM mới)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date (Auto check 8h20 hàng ngày hoặc . mới vào cột Time)",
              "displayName": "Date (Auto check 8h20 hàng ngày hoặc . mới vào cột Time)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tên CTKM",
              "displayName": "Tên CTKM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái (chuyển về Chưa cập nhật nếu doc MKT có thay đổi)",
              "displayName": "Trạng thái (chuyển về Chưa cập nhật nếu doc MKT có thay đổi)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phụ trách",
              "displayName": "Phụ trách",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái đưa lên Web_App",
              "displayName": "Trạng thái đưa lên Web_App",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        752
      ],
      "id": "8e1a4450-f738-4282-a4c5-151daa65f3f5",
      "name": "updateLinks",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        496
      ],
      "id": "b5447e0c-ab46-482d-a563-66823d46214a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        880
      ],
      "id": "e3ab04a8-47a0-4f83-9e37-298f2d038b42",
      "name": "Wait2",
      "webhookId": "0516700e-a3b9-4d52-a411-aabd3f7fa498"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Chia CTKM",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tên CTKM": "={{ $('When Executed by Another Workflow').first().json.sheetName }}",
            "Date (Auto check 8h20 hàng ngày hoặc . mới vào cột Time)": "={{ DateTime.now().setZone('Asia/Ho_Chi_Minh').toFormat('dd/MM/yyyy') }}",
            "Time": "={{ DateTime.now().setZone('Asia/Ho_Chi_Minh').toFormat('HH:mm:ss') }}"
          },
          "matchingColumns": [
            "Tên CTKM"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date (Auto check 8h20 hàng ngày hoặc . mới vào cột Time)",
              "displayName": "Date (Auto check 8h20 hàng ngày hoặc . mới vào cột Time)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên CTKM",
              "displayName": "Tên CTKM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái (chuyển về Chưa cập nhật nếu doc MKT có thay đổi)",
              "displayName": "Trạng thái (chuyển về Chưa cập nhật nếu doc MKT có thay đổi)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phụ trách",
              "displayName": "Phụ trách",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng thái đưa lên Web_App",
              "displayName": "Trạng thái đưa lên Web_App",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        752
      ],
      "id": "0a484edd-4fb0-43aa-93d5-8461c0df7e00",
      "name": "updateTime",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        560
      ],
      "id": "f0e06e94-9b35-4068-a590-cd07e8128048",
      "name": "Wait1",
      "webhookId": "803c65f8-0c46-486a-a1d4-1ca5ff580336"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Chia CTKM",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        144
      ],
      "id": "e80b80bd-fdd0-49b4-9fce-6d55e9eab31b",
      "name": "getPromotionsNameVu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        64
      ],
      "id": "abeba330-ba15-409e-bede-558fe519917f",
      "name": "5s",
      "webhookId": "ad4bace2-51a6-477d-98aa-0cceafc34121"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wFzm6pfQToQQdSFeO48JOaLthdgwQ200u_a2PoZ7xJo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Chia CTKM",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        272
      ],
      "id": "cb765c54-6050-4dd1-8513-4c5115587799",
      "name": "getPromotionsNameVu1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1vmHg8MZZgznjPYJSdP3tYBZZek9IpwVYpTuyxZJ6KN4",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "sheets(properties(title,sheetId,index,hidden))"
            },
            {
              "name": "includeGridData",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        144
      ],
      "id": "08dc43f4-2550-4fe3-b657-457e1a8b0dc0",
      "name": "HTTP Request1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V9RsDbAreeVaJR0q",
          "name": "check-ctkm-hoang.nv1"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "sheets",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -416,
        144
      ],
      "id": "b24a4911-6cb7-4177-85c0-c4b7626114ae",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Tên CTKM",
              "field2": "Tên CTKM"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        0,
        176
      ],
      "id": "741f0ac4-8fff-47d2-9aa3-8e2416314981",
      "name": "Compare Datasets1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e647c546-3383-425d-999f-b0e1914487a6",
              "leftValue": "={{ $json.properties.hidden }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "cafc6a3d-b0b8-4c77-9348-e65fb524ac04",
              "leftValue": "={{ $json.properties.title }}",
              "rightValue": "Overview",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        144
      ],
      "id": "e21a1afe-8d76-4286-9597-45c8baaac0da",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9cbb122-ce22-4f66-b730-14728d82940f",
              "name": "Tên CTKM",
              "value": "={{ $json.properties.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        144
      ],
      "id": "5f4f575c-ea37-487b-bb84-0ece3b9eec15",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dca9ef6c-6e11-4a9e-9147-3676c6b284db",
              "name": "Tên CTKM",
              "value": "={{ $json['Tên CTKM'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        272
      ],
      "id": "aec39e71-719e-4ec2-8c51-8845ffae2f53",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        160,
        208
      ],
      "id": "d302663f-b9e0-4b8a-8cdc-f56883e5c225",
      "name": "Limit7"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4432feed-4d0b-4db9-9f98-b0e0425d453e",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-01-30T18:30:25.008+07:00",
          "Readable date": "January 30th 2026, 6:30:25 pm",
          "Readable time": "6:30:25 pm",
          "Day of week": "Friday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "30",
          "Hour": "18",
          "Minute": "30",
          "Second": "25",
          "Timezone": "Asia/Ho_Chi_Minh (UTC+07:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-23T02:12:17.595Z",
      "createdAt": "2026-02-23T02:12:17.595Z",
      "role": "workflow:owner",
      "workflowId": "Z7Jya2OjtUTAbtT2",
      "projectId": "GTQprNa3RcCSHh8s"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-23T02:12:17.595Z",
  "versionId": "0df2b414-d54f-430e-9e2f-55f1eda5cbd6"
}