workflows/zILlRqKGa4GwpqoV.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-08T19:36:10.228Z",
    "createdAt": "2026-04-08T19:35:57.918Z",
    "versionId": "b90377b5-8dfd-4e3c-8bfa-584e0c9cbfd0",
    "workflowId": "zILlRqKGa4GwpqoV",
    "nodes": [
      {
        "parameters": {},
        "id": "d16f37b9-07ab-4804-b780-6c5fd1047b8e",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          448,
          272
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Subworkflow",
          "height": 750.8363163824032,
          "width": 2086.845881354743,
          "color": 6
        },
        "id": "88896e95-edff-442c-930f-0115739df853",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          640
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "2db71a4d-789c-4776-9d5a-c79ea61c7c06",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          704,
          368
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "KVR6HOIyVeu32eB5",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
                "name": "Done",
                "type": "boolean",
                "value": true
              }
            ]
          },
          "options": {}
        },
        "id": "60abdbd4-350b-4eb2-858d-5c1c320df8fc",
        "name": "Return",
        "type": "n8n-nodes-base.set",
        "position": [
          1888,
          848
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "d5cd9a6a-d6b8-4e46-90e0-b076da8a2805",
        "name": "Get File",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          992,
          720
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 1,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.content }}",
                "rightValue": ""
              },
              {
                "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "003dc1dd-c846-425d-9e30-b6844adcb98e",
        "name": "If file too large",
        "type": "n8n-nodes-base.if",
        "position": [
          784,
          752
        ],
        "typeVersion": 2
      },
      {
        "parameters": {},
        "id": "d08eaeb4-0084-4c89-b974-477b99742a08",
        "name": "Merge Items",
        "type": "n8n-nodes-base.merge",
        "position": [
          784,
          1008
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
        },
        "id": "c344b84d-19a0-4cf1-9603-0ed13407be1c",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          992,
          1008
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json.github_status}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "5de03004-5f35-4d93-b672-3a1600096379",
        "name": "Check Status",
        "type": "n8n-nodes-base.switch",
        "position": [
          1200,
          1008
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "ec53d3bd-7c68-46bf-8cc5-21ec2ed29f67",
        "name": "Same file - Do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1424,
          848
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "0ff54861-32e4-4cdb-a57c-f87848d1e007",
        "name": "File is different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1424,
          1008
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "73c1617c-b054-4272-938d-78f2e943dc56",
        "name": "File is new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1424,
          1168
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.name }}"
          },
          "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "617f3cf7-8b3a-4eb2-856d-c938643dbe14",
        "name": "Create new file",
        "type": "n8n-nodes-base.github",
        "position": [
          1648,
          1168
        ],
        "webhookId": "2139aa18-487c-49bc-a224-150dd52d6191",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "eYft05GLiBObv2x1",
            "name": "hoanguyen-1618"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.name }}"
          },
          "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "427863c3-3f85-4e38-87fe-be7d8fbdc02c",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          1648,
          992
        ],
        "webhookId": "26cb7eb0-f169-401a-84b2-c400d3c4a574",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "eYft05GLiBObv2x1",
            "name": "hoanguyen-1618"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "a4345e6e-c109-42e2-9300-312d3954bfa2",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          912,
          368
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 19
              }
            ]
          }
        },
        "id": "d2e347e0-0ecb-4a11-afc9-ec4ab6e2e104",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          448,
          464
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
          "height": 601,
          "width": 371,
          "color": 4
        },
        "id": "51bfff5c-97d1-406b-9016-2f3bd20125f2",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Main workflow loop",
          "height": 435,
          "width": 886,
          "color": 7
        },
        "id": "626adebc-f049-4f2d-9d50-b845a828e376",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          400,
          192
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo.name }}"
          },
          "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "c167fcf3-cd9b-4d77-b76c-04b0ec64de0c",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          592,
          752
        ],
        "webhookId": "1a54aff2-9309-4b19-b077-a7b1f494a960",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "eYft05GLiBObv2x1",
            "name": "hoanguyen-1618"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
                "name": "repo.owner",
                "type": "string",
                "value": "hoanguyen-1618"
              },
              {
                "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
                "name": "repo.name",
                "type": "string",
                "value": "n8n"
              },
              {
                "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
                "name": "repo.path",
                "type": "string",
                "value": "workflows/"
              }
            ]
          },
          "options": {}
        },
        "id": "5b36ee95-3f83-4db6-b065-7b6f0f5df605",
        "name": "Globals",
        "type": "n8n-nodes-base.set",
        "position": [
          368,
          912
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## Edit this node 👇",
          "height": 80,
          "width": 150,
          "color": 4
        },
        "id": "1a759b5d-e5a8-4b64-a345-5bb8cecbb268",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          320,
          800
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "b37415d7-5eb1-469f-bda0-0e163689b868",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          80,
          1024
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "workflowInputs": {
            "value": {},
            "schema": [],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "id": "9d1481a2-763d-4cad-ad4e-1d2e30d84dde",
        "name": "Execute Workflow",
        "type": "n8n-nodes-base.executeWorkflow",
        "position": [
          1120,
          368
        ],
        "typeVersion": 1.2,
        "retryOnFail": true
      },
      {
        "parameters": {
          "content": "### 💡 **Want to learn advanced n8n skills and earn money building workflows?**\n‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎Check out [Scrapes Academy](https://www.skool.com/scrapes/about?ref=21f10ad99f4d46ba9b8aaea8c9f58c34)",
          "width": 640,
          "color": 4
        },
        "id": "c616cdf8-4e20-46d1-8f6c-9007c2387339",
        "name": "Sticky Note16",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          400,
          0
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Globals": {
        "main": [
          [
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File": {
        "main": [
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is new": {
        "main": [
          [
            {
              "node": "Create new file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Items": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Status": {
        "main": [
          [
            {
              "node": "Same file - Do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "If file too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is different": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If file too large": {
        "main": [
          [
            {
              "node": "Get File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Same file - Do nothing": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Items",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "Hoang Nguyen",
    "name": "Version b90377b5",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "b90377b5-8dfd-4e3c-8bfa-584e0c9cbfd0",
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-08T19:34:56.013Z",
  "id": "zILlRqKGa4GwpqoV",
  "isArchived": false,
  "meta": null,
  "name": "backup-workflow-to-github hoanguyen-1618",
  "nodes": [
    {
      "parameters": {},
      "id": "d16f37b9-07ab-4804-b780-6c5fd1047b8e",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        448,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 750.8363163824032,
        "width": 2086.845881354743,
        "color": 6
      },
      "id": "88896e95-edff-442c-930f-0115739df853",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "2db71a4d-789c-4776-9d5a-c79ea61c7c06",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        704,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "KVR6HOIyVeu32eB5",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "60abdbd4-350b-4eb2-858d-5c1c320df8fc",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1888,
        848
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "d5cd9a6a-d6b8-4e46-90e0-b076da8a2805",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        992,
        720
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "003dc1dd-c846-425d-9e30-b6844adcb98e",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        784,
        752
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "d08eaeb4-0084-4c89-b974-477b99742a08",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        784,
        1008
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
      },
      "id": "c344b84d-19a0-4cf1-9603-0ed13407be1c",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        992,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "5de03004-5f35-4d93-b672-3a1600096379",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1200,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ec53d3bd-7c68-46bf-8cc5-21ec2ed29f67",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1424,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0ff54861-32e4-4cdb-a57c-f87848d1e007",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1424,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "73c1617c-b054-4272-938d-78f2e943dc56",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1424,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "617f3cf7-8b3a-4eb2-856d-c938643dbe14",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1648,
        1168
      ],
      "webhookId": "2139aa18-487c-49bc-a224-150dd52d6191",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "eYft05GLiBObv2x1",
          "name": "hoanguyen-1618"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "427863c3-3f85-4e38-87fe-be7d8fbdc02c",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1648,
        992
      ],
      "webhookId": "26cb7eb0-f169-401a-84b2-c400d3c4a574",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "eYft05GLiBObv2x1",
          "name": "hoanguyen-1618"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a4345e6e-c109-42e2-9300-312d3954bfa2",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        912,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "id": "d2e347e0-0ecb-4a11-afc9-ec4ab6e2e104",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        448,
        464
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
        "height": 601,
        "width": 371,
        "color": 4
      },
      "id": "51bfff5c-97d1-406b-9016-2f3bd20125f2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 435,
        "width": 886,
        "color": 7
      },
      "id": "626adebc-f049-4f2d-9d50-b845a828e376",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "c167fcf3-cd9b-4d77-b76c-04b0ec64de0c",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        592,
        752
      ],
      "webhookId": "1a54aff2-9309-4b19-b077-a7b1f494a960",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "eYft05GLiBObv2x1",
          "name": "hoanguyen-1618"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "hoanguyen-1618"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "5b36ee95-3f83-4db6-b065-7b6f0f5df605",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        368,
        912
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "1a759b5d-e5a8-4b64-a345-5bb8cecbb268",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "b37415d7-5eb1-469f-bda0-0e163689b868",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        80,
        1024
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "id": "9d1481a2-763d-4cad-ad4e-1d2e30d84dde",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1120,
        368
      ],
      "typeVersion": 1.2,
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "### 💡 **Want to learn advanced n8n skills and earn money building workflows?**\n‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎Check out [Scrapes Academy](https://www.skool.com/scrapes/about?ref=21f10ad99f4d46ba9b8aaea8c9f58c34)",
        "width": 640,
        "color": 4
      },
      "id": "c616cdf8-4e20-46d1-8f6c-9007c2387339",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        0
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "tUGf8pqhOC0yFiUP",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-04-08T19:34:56.013Z",
      "createdAt": "2026-04-08T19:34:56.013Z",
      "role": "workflow:owner",
      "workflowId": "zILlRqKGa4GwpqoV",
      "projectId": "GTQprNa3RcCSHh8s"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2026-02-23T01:44:23.752Z",
      "createdAt": "2026-02-23T01:44:23.752Z",
      "id": "DHCtEvXmspyQpH7s",
      "name": "github"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-08T19:35:57.916Z",
  "versionId": "b90377b5-8dfd-4e3c-8bfa-584e0c9cbfd0"
}